
:root {
   --bg-pink: rgb(255, 218, 234);
   --bg-moz-pvb: -moz-linear-gradient(
      133deg,
      rgba(255, 218, 234, 1) 21%,
      rgba(168, 154, 250, 1) 42%,
      rgba(166, 155, 250, 1) 62%,
      rgba(154, 199, 255, 1) 88%
   );
   --bg-web-pvb: -webkit-linear-gradient(
      133deg,
      rgba(255, 218, 234, 1) 21%,
      rgba(168, 154, 250, 1) 42%,
      rgba(166, 155, 250, 1) 62%,
      rgba(154, 199, 255, 1) 88%
   );
   --bg-line-pvb: linear-gradient(
      133deg,
      rgba(255, 218, 234, 1) 21%,
      rgba(168, 154, 250, 1) 42%,
      rgba(166, 155, 250, 1) 62%,
      rgba(154, 199, 255, 1) 88%
   );
   --filter-pvb: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdaea",endColorstr="#9ac7ff",GradientType=1);
}
