@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;400&display=swap');

:root {
   --theme-sheet-width-xl: 1140px;
   --theme-sheet-width-lg: 940px;
   --theme-sheet-width-md: 720px;
   --theme-sheet-width-sm: 540px;
   --theme-sheet-width-xs: 340px;
}

body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   font-size: 16px;
   margin: 0;
   padding: 0;
}

.hidden {
   display: none !important;
}

.container {
   width: var(--theme-sheet-width-xl);
   padding: 1px 0;
   margin: 0 auto;
}

.header__navbar,
.header__content,
.extra-services__card-section,
.extra-services__card,
.features__card {
   display: flex;
}

/* ------------ header-content -------- */

header {
   display: block;
   /* background-color: #c1c1c1; */
   background-color: #ffffff;
   color: #000000;
   color: #ffffff;
   padding: 1rem;
   text-align: center;
   padding: 0;
}

h1 {
   font-size: 2.5rem;
}

.header__navbar {
   /* width: var(--theme-sheet-width-xl); */
   /* height: 72px; */
   height: 4.5rem;
   background-color: #fff;
   justify-content: space-between;
   margin: 0 auto;
}

.header__content-section {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 640px;
   /* min-height: 80vh; */
   max-height: 100vh;
   background-color: #333;
   /* background-image: url('./assets/pictures/ventilation/AdobeStock_260675158.jpeg'); */
   overflow: hidden;
   position: relative;
}

.header__background-image {
   opacity: 0.38;
   position: absolute;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.header__background-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

/* .header__background-image {
   width: 64%;
   height: 100%;
   min-height: 100%;
   z-index: 2;
   position: absolute;
   right: -8%;
   bottom: 8%;
}

.header__background-image img {
   margin-top: 80px;
   width: 100%;
   height: 100%;
   object-fit: contain;
} */

.header__content {
   box-sizing: border-box;
   min-height: 460px;
   flex-direction: column;
   align-items: baseline;
   margin: 80px auto;
   text-align: left;
   position: relative;
   /* border: 3px solid orange; */
}

.header__navbar_company-logo {
   height: 52%;
   margin: auto 0;
   cursor: pointer;
}

.header__navbar_company-logo img {
   height: 100%;
   width: auto;
}

.header__navbar_social {
   height: 36%;
   margin: auto 0;
}

.header__navbar a,
.header__navbar_social a {
   cursor: pointer;
   text-decoration: none;
   margin-right: 0.4rem;
}

.header__navbar_social img {
   display: inline-block;
   height: 100%;
   width: auto;
}

.header__title,
.header__description,
.header__button {
   z-index: 1;
}

.header__title {
   max-width: 70%;
   margin-top: 60px;
}

.header__description {
   max-width: 34%;
   margin-top: 20px;
   margin-bottom: 44px;
}
.header__button {
   padding: 20px 40px;
}

/* --/ header-content */

/* ---------header add stripes */

/* .header__content-section {
   position: relative;
   overflow: hidden;
}

.header__content::after,
.header__content-section::before,
.header__content::before {
   display: block;
   box-sizing: border-box;
   content: '';
   position: absolute;
   left: 46%;
   top: 0%;
   height: 100%;
   width: 50%;
   border: 1.4rem solid #5748d7;
   transform: skew(167deg, 0);
   z-index: 3;
   transition: border-width 0.6s linear;
}

.header__content-section::before {
   height: 68%;
   border-color: #d84570;
   top: 16%;
   left: 0;
   right: 48%;
   border-left: none;
   transform: none;
   z-index: 1;
   animation-name: red-line;
   animation-duration: 6s;
   animation-delay: 2s;
}

.header__content::after,
.header__content::before {
   width: 250%;
   border-right: none;
}
.header__content::before {
   border-bottom: none;
   z-index: 1;
}

.header__content::after {
   z-index: 0;
}

.header__content-section::after {
   border-right: none;
   width: 120%;
} */

@keyframes red-line--disabled {
   0% {
      width: 0;
      border-right: none;
      height: 0;
      border-bottom: none;
   }
   25% {
      width: 50%;
      height: 0;
      border-right: none;
      border-bottom: none;
   }
   50% {
      height: 68%;
      border-right: 1.4rem solid #d84570;
      border-bottom: none;
   }

   75% {
      border-bottom: none;
      border-bottom: 1.4rem solid #d84570;
   }
}

/* --/header add-stripes  */

/* ------------ body-content -------- */

/* ------------ body __ extra-services-content -------- */

.extra-services {
   /* background: -webkit-gradient(linear, left center, right center, color-stop(20%, #d84570), to(#5748d7));
   background: -webkit-linear-gradient(left, #d84570 20%, #5748d7);
   background: linear-gradient(to right, #d84570 20%, #5748d7);
   -pie-background: linear-gradient(left, #d84570 20%, #5748d7);
   background: #5748d7;
   background: #d84570; */
   /* background: #fff; */
   background: #143472;
   background: #d7e5f3;
   background: #d84570;
}

.extra-services__content {
   text-align: center;
   margin: 0 auto;
}

.extra-services__section-title,
.extra-services__section-subtitle {
   color: #000;
   color: #fff;
}

.extra-services__section-title {
   margin: 60px auto 20px;
   text-transform: uppercase;
}

.extra-services__section-subtitle {
   font-size: 1.2rem;
   margin: 32px auto 0;
}

.extra-services__card-section {
   justify-content: center;
   flex-wrap: wrap;
   /* gap: 20px; */
   gap: 0;
   width: 80%;
   margin: 50px auto;
}

.extra-services__text-content {
   flex-basis: 50%;
   flex-grow: 1;
}

.extra-services__card:nth-child(1) {
   text-align: start;
   background: yellow;
   color: #000000;
}

.extra-services__card:nth-child(2) {
   text-align: end;
   flex-direction: row-reverse;
   background: darkblue;
   color: #ffffff;
}

.extra-services__card:nth-child(2) .extra-services__image {
   flex-basis: 40%;
}

.extra-services__card:nth-child(3) .extra-services__image {
   flex-basis: 42%;
}

.extra-services__card:nth-child(3) {
   text-align: start;
   background: orangered;
   /* background: #ffffff; */
   color: #ffffff;
   /* color: orange; */
   /* font-weight: bold; */
}

.extra-services__card {
   /* flex-direction: column; */
   align-items: center;
   list-style-type: none;
   cursor: default;
   /* width: 270px; */
   /* width: auto; */
   width: 100%;
   /* height: auto; */
   height: 310px;

   flex-grow: 0;
   text-align: justify;
   /* padding: 30px; */
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #111111;
   background-color: #ffffff;
   font-size: 1rem;
   line-height: 1.5rem;
   overflow: hidden;
   text-align: center;
}

.extra-services__image {
   display: block;
   /* width: 100%; */
   /* width: 50%; */
   flex-basis: 50%;
   height: 100%;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.extra-services__image img {
   /* min-width: 100%; */
   width: 100%;
   height: 100%;
   object-fit: fill;
   object-position: center;
}

.extra-services__title {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   /* font-size: 24px; */
   font-size: 1.8rem;
   /* line-height: 27px; */
   line-height: 2rem;
   text-transform: uppercase;
   /* margin: 32px auto 20px; */
   margin: 32px auto 20px;
   /* letter-spacing: -2px; */
}

.extra-services__title,
.extra-services__description {
   padding: 20px 40px;
}

.extra-services__description {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.4rem;
   /* text-align: center; */
   line-height: 1.8rem;
   /* font-style: italic; */
   margin-top: 0;
}

.extra-services__footer {
   margin: 39px auto 60px;
}

.extra-services__footer,
.extra-services__footer a {
   color: #ffffff;
   font-size: 1rem;
   line-height: 1.6;
   font-weight: 400;
}

/* --/ extra-services-content */

/* ------------ body __ about -------- */

.about {
   padding: 80px 0 120px;
   background-color: #ffffff;
}

.about__introduction {
   position: relative;
   display: flex;
   justify-content: flex-start !important;
   /* padding: 20px; */
}

.about__introduction p {
   /* font-family: 'Open Sans', sans-serif; */
   font-size: 1.2rem;
   width: 80%;
   font-weight: 300;
   /* margin-bottom: -10px; */

   z-index: 1; /* font-style: italic; */
}

.about__story {
}

.about__story p:first-of-type {
   font-weight: 600;
}

.about h2 {
   text-align: center;
   text-transform: uppercase;
   font-size: 1.6rem;
   color: #0000009e;
   margin: 60px auto;
}

.about article,
.about section {
   display: flex;
}
.about article {
   justify-content: space-between;

   /* gap: 40px; */
}

.about article {
   flex-wrap: wrap;
}

.about section {
   width: 45%;
   justify-content: center;
}

.about section {
   flex-direction: column;
}

.about section:last-of-type {
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 80px;
}

.about section:last-of-type li {
   list-style-type: none;
   width: 30%;
}

.about .icon {
   margin: 0 auto;
   width: 70px;
   /* background-color: #c1c1c1; */
   text-align: center;
   display: block;
}

.about .icon img {
   width: 100%;
   height: auto;
   /* height: 48px; */
}

.about__picture {
   display: block;
   /* margin-top: -10%; */
   margin-bottom: -50px;
   /* align-self: flex-end; */
   width: 74%;
   height: auto;
   max-height: 300px;
   text-align: end;
   overflow: hidden;
   position: absolute;
   width: 100%;
   height: 100%;
   /* right: 0; */
   bottom: 0;
}

.about__picture img {
   /* width: 100%; */
   height: 100%;
}

/* --/ about */

/* ------------ body __ service-description -------- */

.service-description {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   position: relative;
   overflow: hidden;
   color: #ffffff;
   font-size: 1.2rem;
   min-height: 800px;
   background-color: rgb(93, 93, 93);
   padding: 60px 0;
}

.service-description__backgroung {
   position: absolute;
   width: 100%;
}

.service-description__backgroung img {
   width: 100%;
   height: auto;
   min-height: 341px;
   opacity: 0.4;
}

.service-description .container {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   z-index: 1;
}

.service-description__heading {
   width: 100%;
   font-size: 2rem;
   text-transform: uppercase;
   margin-bottom: 80px;
}

.service-description .container ul {
   width: 60%;
   margin: auto;
   text-align: left;
   margin-top: 0;
}

.service-description .container ul li {
   width: 86%;
   margin: 20px 25px;
   list-style-type: none;
   position: relative;
}

.service-description .container ul li::before {
   display: block;
   content: '';
   position: absolute;
   left: -22px;
   top: 8px;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: transparent;
   border: 2px solid #ffffff;
}

.service-description .container h4 {
   font-weight: normal;
   text-transform: uppercase;
   font-size: 1.4rem;
}

.service-description .container .image {
   border: 20px solid #ffffff;
   box-sizing: border-box;
   width: 35%;
   overflow: hidden;
}

.service-description .container .image img {
   height: 100%;
   width: auto;
}

/* --/ service-description */

/* ------------ body __ our-clients-description -------- */

.our-clients {
   padding: 80px 0;
   text-align: center;
   /* background-color: #f2f2f2; */
}

.our-clients .container {
   position: relative;
}

.our-clients .container > p,
.our-clients .container > h2 {
   margin: 20px auto;
}

.our-clients .container > h2 {
   font-size: 3rem;
   line-height: 1.1;
   font-weight: 700;
   text-transform: uppercase;
}

.our-clients .container > p {
   font-size: 2rem;
   width: 100%;
}

.our-clients__article {
   display: block;
   box-sizing: border-box;
   height: 620px;
   width: 1000px;
   overflow: hidden;
   margin: auto;
   position: relative;
}

ol.our-clients__gallery {
   display: inline-flex;
   min-height: 600px;
   width: auto;
   position: absolute;
   margin: auto;
   left: 0;
   transition: 1s;
   padding: 0;
}

.our-clients__gallery li.card {
   display: inline-block;
   box-sizing: border-box;
   width: 1000px;
   height: 594px;
   padding: 20px;
   margin: 10px 0;
   position: relative;
   overflow: hidden;
}

.our-clients__gallery .card__content {
   display: flex;
   flex-direction: column;
   width: 66%;
   height: 100%;
   justify-content: center;
}

.card__picture {
   min-width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
}

.card__picture img {
   width: 100%;
   min-height: 100%;
   height: auto;
   /* object-fit: contain; */
   /* object-position: bottom; */
}

.card__description {
   display: flex;
   flex-direction: column-reverse;
   width: 100%;
   height: auto;
   min-height: 100px;
   color: #fff;
   align-items: center;
   justify-content: center;
   background: #1a1a1a;
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 20px 0;

   /* margin: 0; */
}

.card__description h5,
.card__description p {
   width: 80%;
   margin: 0 auto;
}

.card__description h5 {
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   font-size: 1rem;
   line-height: 1.6;
   margin-top: 6px;
}

.card__description p {
   font-family: Roboto, sans-serif;
   font-size: 1.5rem;
   line-height: 1.2;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.prev-btn,
.next-btn {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
   position: absolute;
   bottom: 310px;
   border: none;
   background-color: #4d4d4d;
}

.prev-btn svg,
.next-btn svg {
   fill: #fff;
   width: 70%;
   height: 70%;
   padding: 6px 0;
}

.prev-btn svg {
   padding-right: 3px;
}
.next-btn svg {
   padding-left: 3px;
}

.prev-btn {
   left: 20px;
}

.next-btn {
   right: 20px;
}

.prev-btn:hover,
.next-btn:hover {
   background-color: #1a1a1a;
   color: #fff;
}

/* --/ our-clients-description */

/* ------------ body __ features and fails section -------- */

.features {
   text-align: center;
   padding: 40px 0;
}

.features h3 {
   margin: 40px auto 80px;
   font-size: 2.6rem;
}

.features__subtitle {
   font-size: 3rem;
   color: #c1c1c1;
   margin: 0;
   text-align: center;
   padding-right: 10%;
   width: 86%;
   background: green;
}

.features__subtitle:first-of-type {
   background: red;
}

.features .features__subtitle .material-symbols-outlined {
   font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
   font-size: 4.4rem;
   vertical-align: top;
}

.features .material-symbols-outlined {
   font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
   font-size: 2.6rem;
   vertical-align: middle;
}

.features .container {
   display: grid;
   grid-template-columns: 50% 50%;
   gap: 60px;
}

.features__card {
   width: 100%;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
   text-align: left;
}

.features__card p {
   width: 84%;
   font-size: 1.1rem;
   padding: 0 20px;
}

.features__card .marker {
   display: block;
   box-sizing: border-box;
   content: '';
   height: 150px;
   border-left: 10px solid;
}

.features__card.bad .marker {
   border-color: orangered;
}

.features__card.good .marker {
   border-color: greenyellow;
}

.features__image {
   min-width: 200px;
   height: 150px;
   width: 200px;
   margin: 0 20px;
   overflow: hidden;
}
.features__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* --/ features and fails section */

.cta {
   text-align: center;
   margin-top: 2rem;
}

.cta button {
   padding: 1rem 2rem;
   background-color: #007bff;
   color: #fff;
   font-size: 1.2rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.cta button:hover {
   background-color: #0056b3;
}

footer {
   background-color: #f4f4f4;
   text-align: center;
   padding: 1rem;
}
