@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;400&display=swap');

:root {
   --theme-sheet-width-xl: 1140px;
   --theme-sheet-width-lg: 940px;
   --theme-sheet-width-md: 720px;
   --theme-sheet-width-sm: 540px;
   --theme-sheet-width-xs: 340px;
}

body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   font-size: 16px;
   margin: 0;
   padding: 0;
}

.container {
   width: var(--theme-sheet-width-xl);
   padding: 1px 0;
   margin: 0 auto;
}

.header__navbar,
.header__content,
.services__card-section,
.services__card,
.features__card {
   display: flex;
}

/* ------------ header-content -------- */

header {
   display: block;
   /* background-color: #c1c1c1; */
   background-color: #ffffff;
   color: #ffffff;
   padding: 1rem;
   text-align: center;
   padding: 0;
}

h1 {
   font-size: 2.5rem;
}

.header__navbar {
   /* width: var(--theme-sheet-width-xl); */
   height: 72px;
   background-color: #fff;
   justify-content: space-between;
   margin: 0 auto;
}

.header__content-section {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 800px;
   background-color: #333;
   position: relative;
   overflow: hidden;
}

.header__content {
   /* width: var(--theme-sheet-width-xl); */
   box-sizing: border-box;
   height: auto;
   min-height: 460px;
   flex-direction: column;
   align-items: baseline;
   margin: 80px auto;
   /* border: 3px solid orange; */
   text-align: left;
}

.header__navbar_company-logo {
   height: 52%;
   margin: auto 0;
   cursor: pointer;
}

.header__navbar_company-logo img {
   height: 100%;
   width: auto;
}

.header__navbar_social {
   height: 36%;
   margin: auto 0;
}

.header__navbar a,
.header__navbar_social a {
   cursor: pointer;
   text-decoration: none;
   margin-right: 0.4rem;
}

.header__navbar_social img {
   display: inline-block;
   height: 100%;
   width: auto;
}

.header__title,
.header__description,
.header__button {
   z-index: 1;
}

.header__background-image {
   position: absolute;
   width: 46%;
   height: auto;
   min-height: 100%;
   z-index: 0;
   right: 14%;
   top: -80px;
}

.header__background-image img {
   margin-top: 80px;
   width: 86%;
   height: auto;
}

.header__title {
   max-width: 40%;
   margin-top: 60px;
}
.header__description {
   max-width: 34%;
   margin-top: 20px;
   margin-bottom: 44px;
}
.header__button {
   padding: 20px 40px;
}

/* --/ header-content */

/* ------------ body-content -------- */

/* ------------ body __ services-content -------- */

.services__card {
   flex-direction: column;
   align-items: center;
   list-style-type: none;
}

.services {
   /* background: -webkit-gradient(linear, left center, right center, color-stop(20%, #d84570), to(#5748d7));
   background: -webkit-linear-gradient(left, #d84570 20%, #5748d7);
   background: linear-gradient(to right, #d84570 20%, #5748d7);
   -pie-background: linear-gradient(left, #d84570 20%, #5748d7);
   background: #5748d7;
   background: #d84570; */
   /* background: #fff; */
   background: #143472;
   /* background: #d7e5f3; */
}

.services__content {
   text-align: center;
   margin: 0 auto;
}

.services__section-title,
.services__section-subtitle {
   color: #fff;
}

.services__section-title {
   margin: 60px auto 20px;
   text-transform: uppercase;
}

.services__section-subtitle {
   margin: 32px auto 0;
}

.services__card-section {
   margin: 57px 0;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   width: 100%;
}

.services__card {
   cursor: default;
   width: 270px;
   height: auto;
   flex-grow: 0;
   text-align: justify;
   padding: 30px;
   margin: 0;
   box-sizing: border-box;
   color: #111111;
   background-color: #ffffff;
   font-size: 1rem;
   line-height: 1.6;
   overflow: hidden;
   text-align: center;
}

.services__image {
   display: block;
   width: 100%;
   height: 180px;
   overflow: hidden;
}

.services__image img {
   min-width: 100%;
   height: 100%;
}

.services__title {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   max-width: 96%;
   word-wrap: break-word;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   min-height: 40px;

   margin: 32px auto 0;
   /* white-space: nowrap; */
   letter-spacing: -2px;
}

/* .services__card-section h2:nth-child(4) {
   letter-spacing: -5px;
} */

.services__description {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-style: italic;
   margin-top: 20px;
}

.services__footer {
   margin: 39px auto 60px;
}

.services__footer,
.services__footer a {
   color: #ffffff;
   font-size: 1rem;
   line-height: 1.6;
   font-weight: 400;
}

/* --/ services-content */

/* ------------ body __ about -------- */

.about {
   padding: 80px 0 120px;
   background-color: #ffffff;
}

.about__introduction {
   /* padding: 10px 30px; */
}

.about h2 {
   text-align: center;
   text-transform: uppercase;
   font-size: 1.6rem;
   color: #0000009e;
   margin: 60px auto;
}

.about article,
.about section {
   display: flex;
}
.about article {
   justify-content: space-between;

   /* gap: 40px; */
}

.about article {
   flex-wrap: wrap;
}

.about section {
   width: 45%;
   justify-content: center;
}

.about section {
   flex-direction: column;
}

.about section:last-of-type {
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 80px;
}

.about section:last-of-type li {
   list-style-type: none;
   width: 30%;
}

.about .icon {
   margin: 0 auto;
   width: 70px;
   /* background-color: #c1c1c1; */
   text-align: center;
   display: block;
}

.about .icon img {
   width: 100%;
   height: auto;
   /* height: 48px; */
}

.about__picture {
   display: block;
   /* margin-top: -10%; */
   /* margin-bottom: 90px; */
   align-self: flex-end;
   width: 74%;
   height: auto;
}

.about__picture img {
   width: 100%;
   height: auto;
}

/* --/ about */

/* ------------ body __ service-description -------- */

.service-description {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   position: relative;
   overflow: hidden;
   color: #ffffff;
   font-size: 1.2rem;
   min-height: 800px;
   background-color: rgb(93, 93, 93);
   padding: 60px 0;
}

.service-description__backgroung {
   position: absolute;
   width: 100%;
}

.service-description__backgroung img {
   width: 100%;
   height: auto;
   min-height: 341px;
   opacity: 0.4;
}

.service-description .container {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   z-index: 1;
}

.service-description__heading {
   width: 100%;
   font-size: 2rem;
   text-transform: uppercase;
   margin-bottom: 80px;
}

.service-description .container ul {
   width: 60%;
   margin: auto;
   text-align: left;
   margin-top: 0;
}

.service-description .container ul li {
   width: 86%;
   margin: 20px 25px;
   list-style-type: none;
   position: relative;
}

.service-description .container ul li::before {
   display: block;
   content: '';
   position: absolute;
   left: -22px;
   top: 8px;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: transparent;
   border: 2px solid #ffffff;
}

.service-description .container h4 {
   font-weight: normal;
   text-transform: uppercase;
   font-size: 1.4rem;
}

.service-description .container .image {
   border: 20px solid #ffffff;
   box-sizing: border-box;
   width: 35%;
   overflow: hidden;
}

.service-description .container .image img {
   height: 100%;
   width: auto;
}

/* --/ service-description */

/* ------------ body __ our-clients-description -------- */

.our-clients {
   padding: 80px 0;
   text-align: center;
   /* background-color: #f2f2f2; */
}

.our-clients .container {
   position: relative;
}

.our-clients .container > p,
.our-clients .container > h2 {
   margin: 20px auto;
}

.our-clients .container > h2 {
   font-size: 3rem;
   line-height: 1.1;
   font-weight: 700;
   text-transform: uppercase;
}

.our-clients .container > p {
   font-size: 2rem;
   width: 100%;
}

.our-clients__article {
   display: block;
   box-sizing: border-box;
   height: 620px;
   width: 1000px;
   overflow: hidden;
   margin: auto;
   position: relative;
}

ol.our-clients__gallery {
   display: inline-flex;
   min-height: 600px;
   width: auto;
   position: absolute;
   margin: auto;
   left: 0;
   transition: 1s;
   padding: 0;
}

.our-clients__gallery li.card {
   display: inline-block;
   box-sizing: border-box;
   width: 1000px;
   height: 594px;
   padding: 20px;
   margin: 10px 0;
   position: relative;
   overflow: hidden;
}

.our-clients__gallery .card__content {
   display: flex;
   flex-direction: column;
   width: 66%;
   height: 100%;
   justify-content: center;
}

.card__picture {
   min-width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
}

.card__picture img {
   width: 100%;
   min-height: 100%;
   height: auto;
   /* object-fit: contain; */
   /* object-position: bottom; */
}

.card__description {
   display: flex;
   flex-direction: column-reverse;
   width: 100%;
   height: auto;
   min-height: 100px;
   color: #fff;
   align-items: center;
   justify-content: center;
   background: #1a1a1a;
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 20px 0;

   /* margin: 0; */
}

.card__description h5,
.card__description p {
   width: 80%;
   margin: 0 auto;
}

.card__description h5 {
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   font-size: 1rem;
   line-height: 1.6;
   margin-top: 6px;
}

.card__description p {
   font-family: Roboto, sans-serif;
   font-size: 1.5rem;
   line-height: 1.2;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.prev-btn,
.next-btn {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
   position: absolute;
   bottom: 310px;
   border: none;
   background-color: #4d4d4d;
}

.prev-btn svg,
.next-btn svg {
   fill: #fff;
   width: 70%;
   height: 70%;
   padding: 6px 0;
}

.prev-btn svg {
   padding-right: 3px;
}
.next-btn svg {
   padding-left: 3px;
}

.prev-btn {
   left: 20px;
}

.next-btn {
   right: 20px;
}

.prev-btn:hover,
.next-btn:hover {
   background-color: #1a1a1a;
   color: #fff;
}

/* --/ our-clients-description */

/* ------------ body __ features and fails section -------- */

.features {
   text-align: center;
   padding: 40px 0;
}

.features h3 {
   margin: 40px auto 80px;
   font-size: 2.6rem;
}

.features .container {
   display: grid;
   grid-template-columns: 50% 50%;
   gap: 60px;
}

.features__card {
   width: 100%;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
}

.features__card p {
   width: 80%;
   font-size: 1.2rem;
   text-align: left;
   padding: 0 20px;
}

.features__card .marker {
   display: block;
   box-sizing: border-box;
   content: '';
   height: 150px;
   border-left: 10px solid;
}

.features__card.bad .marker {
   border-color: orangered;
}

.features__card.good .marker {
   border-color: greenyellow;
}

.features__image {
   min-width: 200px;
   height: 150px;
   width: 200px;
   margin-right: 20px;
   overflow: hidden;
}
.features__image img {
   width: 100%;
   height: 100%;
   /* object-position: center; */
   object-fit: cover;
}

/* --/ features and fails section */

.cta {
   text-align: center;
   margin-top: 2rem;
}

.cta button {
   padding: 1rem 2rem;
   background-color: #007bff;
   color: #fff;
   font-size: 1.2rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.cta button:hover {
   background-color: #0056b3;
}

footer {
   background-color: #f4f4f4;
   text-align: center;
   padding: 1rem;
}
