:root {
   --primary: rgb(255 177 197);
   --surface-tint: rgb(255 177 197);
   --on-primary: rgb(85 29 48);
   --primary-container: rgb(112 51 70);
   --on-primary-container: rgb(255 217 225);
   --secondary: rgb(227 189 197);
   --on-secondary: rgb(66 41 48);
   --secondary-container: rgb(91 63 70);
   --on-secondary-container: rgb(255 217 225);
   --tertiary: rgb(238 189 147);
   --on-tertiary: rgb(71 42 10);
   --tertiary-container: rgb(97 63 31);
   --on-tertiary-container: rgb(255 220 192);
   --error: rgb(255 180 171);
   --on-error: rgb(105 0 5);
   --error-container: rgb(147 0 10);
   --on-error-container: rgb(255 218 214);
   --background: rgb(25 17 19);
   --on-background: rgb(239 223 225);
   --surface: rgb(25 17 19);
   --on-surface: rgb(239 223 225);
   --surface-variant: rgb(81 67 70);
   --on-surface-variant: rgb(214 194 197);
   --outline: rgb(158 140 144);
   --outline-variant: rgb(81 67 70);
   --shadow: rgb(0 0 0);
   --scrim: rgb(0 0 0);
   --inverse-surface: rgb(239 223 225);
   --inverse-on-surface: rgb(56 46 48);
   --inverse-primary: rgb(140 74 94);
   --primary-fixed: rgb(255 217 225);
   --on-primary-fixed: rgb(58 7 27);
   --primary-fixed-dim: rgb(255 177 197);
   --on-primary-fixed-variant: rgb(112 51 70);
   --secondary-fixed: rgb(255 217 225);
   --on-secondary-fixed: rgb(43 21 27);
   --secondary-fixed-dim: rgb(227 189 197);
   --on-secondary-fixed-variant: rgb(91 63 70);
   --tertiary-fixed: rgb(255 220 192);
   --on-tertiary-fixed: rgb(45 22 0);
   --tertiary-fixed-dim: rgb(238 189 147);
   --on-tertiary-fixed-variant: rgb(97 63 31);
   --surface-dim: rgb(25 17 19);
   --surface-bright: rgb(65 55 57);
   --surface-container-lowest: rgb(20 12 14);
   --surface-container-low: rgb(34 25 27);
   --surface-container: rgb(38 29 31);
   --surface-container-high: rgb(49 40 42);
   --surface-container-highest: rgb(60 50 52);
}
