:root {
   --primary: rgb(254 249 255);
   --surface-tint: rgb(199 191 255);
   --on-primary: rgb(0 0 0);
   --primary-container: rgb(203 196 255);
   --on-primary-container: rgb(0 0 0);
   --secondary: rgb(255 249 250);
   --on-secondary: rgb(0 0 0);
   --secondary-container: rgb(241 184 239);
   --on-secondary-container: rgb(0 0 0);
   --tertiary: rgb(255 249 254);
   --on-tertiary: rgb(0 0 0);
   --tertiary-container: rgb(216 192 255);
   --on-tertiary-container: rgb(0 0 0);
   --error: rgb(255 249 249);
   --on-error: rgb(0 0 0);
   --error-container: rgb(255 186 177);
   --on-error-container: rgb(0 0 0);
   --background: rgb(20 19 24);
   --on-background: rgb(229 225 233);
   --surface: rgb(20 19 24);
   --on-surface: rgb(255 255 255);
   --surface-variant: rgb(71 70 79);
   --on-surface-variant: rgb(254 249 255);
   --outline: rgb(205 201 212);
   --outline-variant: rgb(205 201 212);
   --shadow: rgb(0 0 0);
   --scrim: rgb(0 0 0);
   --inverse-surface: rgb(229 225 233);
   --inverse-on-surface: rgb(0 0 0);
   --inverse-primary: rgb(40 34 88);
   --primary-fixed: rgb(233 227 255);
   --on-primary-fixed: rgb(0 0 0);
   --primary-fixed-dim: rgb(203 196 255);
   --on-primary-fixed-variant: rgb(20 11 68);
   --secondary-fixed: rgb(255 220 251);
   --on-secondary-fixed: rgb(0 0 0);
   --secondary-fixed-dim: rgb(241 184 239);
   --on-secondary-fixed-variant: rgb(43 3 48);
   --tertiary-fixed: rgb(239 225 255);
   --on-tertiary-fixed: rgb(0 0 0);
   --tertiary-fixed-dim: rgb(216 192 255);
   --on-tertiary-fixed-variant: rgb(30 8 64);
   --surface-dim: rgb(20 19 24);
   --surface-bright: rgb(58 56 62);
   --surface-container-lowest: rgb(14 14 19);
   --surface-container-low: rgb(28 27 32);
   --surface-container: rgb(32 31 37);
   --surface-container-high: rgb(42 41 47);
   --surface-container-highest: rgb(53 52 58);
}
