:root {
  --primary: rgb(203 196 255);
  --surface-tint: rgb(199 191 255);
  --on-primary: rgb(20 11 68);
  --primary-container: rgb(144 137 199);
  --on-primary-container: rgb(0 0 0);
  --secondary: rgb(241 184 239);
  --on-secondary: rgb(43 3 48);
  --secondary-container: rgb(179 127 179);
  --on-secondary-container: rgb(0 0 0);
  --tertiary: rgb(216 192 255);
  --on-tertiary: rgb(30 8 64);
  --tertiary-container: rgb(156 134 195);
  --on-tertiary-container: rgb(0 0 0);
  --error: rgb(255 186 177);
  --on-error: rgb(55 0 1);
  --error-container: rgb(255 84 73);
  --on-error-container: rgb(0 0 0);
  --background: rgb(20 19 24);
  --on-background: rgb(229 225 233);
  --surface: rgb(20 19 24);
  --on-surface: rgb(254 249 255);
  --surface-variant: rgb(71 70 79);
  --on-surface-variant: rgb(205 201 212);
  --outline: rgb(165 161 172);
  --outline-variant: rgb(133 130 140);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(229 225 233);
  --inverse-on-surface: rgb(42 41 47);
  --inverse-primary: rgb(71 65 121);
  --primary-fixed: rgb(228 223 255);
  --on-primary-fixed: rgb(15 5 63);
  --primary-fixed-dim: rgb(199 191 255);
  --on-primary-fixed-variant: rgb(53 47 101);
  --secondary-fixed: rgb(255 214 251);
  --on-secondary-fixed: rgb(37 0 42);
  --secondary-fixed-dim: rgb(237 180 235);
  --on-secondary-fixed-variant: rgb(80 38 83);
  --tertiary-fixed: rgb(235 220 255);
  --on-tertiary-fixed: rgb(25 2 59);
  --tertiary-fixed-dim: rgb(212 187 252);
  --on-tertiary-fixed-variant: rgb(63 43 98);
  --surface-dim: rgb(20 19 24);
  --surface-bright: rgb(58 56 62);
  --surface-container-lowest: rgb(14 14 19);
  --surface-container-low: rgb(28 27 32);
  --surface-container: rgb(32 31 37);
  --surface-container-high: rgb(42 41 47);
  --surface-container-highest: rgb(53 52 58);
}
