:root {
   --primary: rgb(42 22 77);
   --surface-tint: rgb(104 84 142);
   --on-primary: rgb(255 255 255);
   --primary-container: rgb(75 57 112);
   --on-primary-container: rgb(255 255 255);
   --secondary: rgb(37 31 50);
   --on-secondary: rgb(255 255 255);
   --secondary-container: rgb(71 63 84);
   --on-secondary-container: rgb(255 255 255);
   --tertiary: rgb(57 23 34);
   --on-tertiary: rgb(255 255 255);
   --tertiary-container: rgb(95 55 66);
   --on-tertiary-container: rgb(255 255 255);
   --error: rgb(78 0 2);
   --on-error: rgb(255 255 255);
   --error-container: rgb(140 0 9);
   --on-error-container: rgb(255 255 255);
   --background: rgb(254 247 255);
   --on-background: rgb(29 27 32);
   --surface: rgb(254 247 255);
   --on-surface: rgb(0 0 0);
   --surface-variant: rgb(231 224 235);
   --on-surface-variant: rgb(38 34 43);
   --outline: rgb(69 65 74);
   --outline-variant: rgb(69 65 74);
   --shadow: rgb(0 0 0);
   --scrim: rgb(0 0 0);
   --inverse-surface: rgb(50 47 53);
   --inverse-on-surface: rgb(255 255 255);
   --inverse-primary: rgb(243 232 255);
   --primary-fixed: rgb(75 57 112);
   --on-primary-fixed: rgb(255 255 255);
   --primary-fixed-dim: rgb(53 34 88);
   --on-primary-fixed-variant: rgb(255 255 255);
   --secondary-fixed: rgb(71 63 84);
   --on-secondary-fixed: rgb(255 255 255);
   --secondary-fixed-dim: rgb(48 41 61);
   --on-secondary-fixed-variant: rgb(255 255 255);
   --tertiary-fixed: rgb(95 55 66);
   --on-tertiary-fixed: rgb(255 255 255);
   --tertiary-fixed-dim: rgb(70 33 44);
   --on-tertiary-fixed-variant: rgb(255 255 255);
   --surface-dim: rgb(222 216 224);
   --surface-bright: rgb(254 247 255);
   --surface-container-lowest: rgb(255 255 255);
   --surface-container-low: rgb(248 241 250);
   --surface-container: rgb(242 236 244);
   --surface-container-high: rgb(237 230 238);
   --surface-container-highest: rgb(231 224 232);
}
