:root {
   --primary: rgb(33 25 80);
   --surface-tint: rgb(94 87 145);
   --on-primary: rgb(255 255 255);
   --primary-container: rgb(66 59 115);
   --on-primary-container: rgb(255 255 255);
   --secondary: rgb(57 17 61);
   --on-secondary: rgb(255 255 255);
   --secondary-container: rgb(94 51 96);
   --on-secondary-container: rgb(255 255 255);
   --tertiary: rgb(42 22 76);
   --on-tertiary: rgb(255 255 255);
   --tertiary-container: rgb(76 56 111);
   --on-tertiary-container: rgb(255 255 255);
   --error: rgb(78 0 2);
   --on-error: rgb(255 255 255);
   --error-container: rgb(140 0 9);
   --on-error-container: rgb(255 255 255);
   --background: rgb(252 248 255);
   --on-background: rgb(28 27 32);
   --surface: rgb(252 248 255);
   --on-surface: rgb(0 0 0);
   --surface-variant: rgb(229 225 236);
   --on-surface-variant: rgb(36 35 43);
   --outline: rgb(67 66 75);
   --outline-variant: rgb(67 66 75);
   --shadow: rgb(0 0 0);
   --scrim: rgb(0 0 0);
   --inverse-surface: rgb(49 48 54);
   --inverse-on-surface: rgb(255 255 255);
   --inverse-primary: rgb(238 233 255);
   --primary-fixed: rgb(66 59 115);
   --on-primary-fixed: rgb(255 255 255);
   --primary-fixed-dim: rgb(43 37 91);
   --on-primary-fixed-variant: rgb(255 255 255);
   --secondary-fixed: rgb(94 51 96);
   --on-secondary-fixed: rgb(255 255 255);
   --secondary-fixed-dim: rgb(69 28 73);
   --on-secondary-fixed-variant: rgb(255 255 255);
   --tertiary-fixed: rgb(76 56 111);
   --on-tertiary-fixed: rgb(255 255 255);
   --tertiary-fixed-dim: rgb(53 34 88);
   --on-tertiary-fixed-variant: rgb(255 255 255);
   --surface-dim: rgb(221 216 224);
   --surface-bright: rgb(252 248 255);
   --surface-container-lowest: rgb(255 255 255);
   --surface-container-low: rgb(247 242 250);
   --surface-container: rgb(241 236 244);
   --surface-container-high: rgb(235 230 239);
   --surface-container-highest: rgb(229 225 233);
}
