:root {
   --primary: rgb(94 87 145);
   --surface-tint: rgb(94 87 145);
   --on-primary: rgb(255 255 255);
   --primary-container: rgb(228 223 255);
   --on-primary-container: rgb(26 18 73);
   --secondary: rgb(124 78 126);
   --on-secondary: rgb(255 255 255);
   --secondary-container: rgb(255 214 251);
   --on-secondary-container: rgb(50 9 54);
   --tertiary: rgb(105 84 141);
   --on-tertiary: rgb(255 255 255);
   --tertiary-container: rgb(235 220 255);
   --on-tertiary-container: rgb(36 14 69);
   --error: rgb(186 26 26);
   --on-error: rgb(255 255 255);
   --error-container: rgb(255 218 214);
   --on-error-container: rgb(65 0 2);
   --background: rgb(252 248 255);
   --on-background: rgb(28 27 32);
   --surface: rgb(252 248 255);
   --on-surface: rgb(28 27 32);
   --surface-variant: rgb(229 225 236);
   --on-surface-variant: rgb(71 70 79);
   --outline: rgb(120 118 127);
   --outline-variant: rgb(201 197 208);
   --shadow: rgb(0 0 0);
   --scrim: rgb(0 0 0);
   --inverse-surface: rgb(49 48 54);
   --inverse-on-surface: rgb(244 239 247);
   --inverse-primary: rgb(199 191 255);
   --primary-fixed: rgb(228 223 255);
   --on-primary-fixed: rgb(26 18 73);
   --primary-fixed-dim: rgb(199 191 255);
   --on-primary-fixed-variant: rgb(70 63 119);
   --secondary-fixed: rgb(255 214 251);
   --on-secondary-fixed: rgb(50 9 54);
   --secondary-fixed-dim: rgb(237 180 235);
   --on-secondary-fixed-variant: rgb(98 54 101);
   --tertiary-fixed: rgb(235 220 255);
   --on-tertiary-fixed: rgb(36 14 69);
   --tertiary-fixed-dim: rgb(212 187 252);
   --on-tertiary-fixed-variant: rgb(80 60 116);
   --surface-dim: rgb(221 216 224);
   --surface-bright: rgb(252 248 255);
   --surface-container-lowest: rgb(255 255 255);
   --surface-container-low: rgb(247 242 250);
   --surface-container: rgb(241 236 244);
   --surface-container-high: rgb(235 230 239);
   --surface-container-highest: rgb(229 225 233);
}
