:root {
   --primary: rgb(124 78 126);
   --surface-tint: rgb(124 78 126);
   --on-primary: rgb(255 255 255);
   --primary-container: rgb(255 214 251);
   --on-primary-container: rgb(50 9 54);
   --secondary: rgb(94 87 145);
   --on-secondary: rgb(255 255 255);
   --secondary-container: rgb(228 223 255);
   --on-secondary-container: rgb(26 18 73);
   --tertiary: rgb(130 82 73);
   --on-tertiary: rgb(255 255 255);
   --tertiary-container: rgb(255 218 211);
   --on-tertiary-container: rgb(51 17 11);
   --error: rgb(186 26 26);
   --on-error: rgb(255 255 255);
   --error-container: rgb(255 218 214);
   --on-error-container: rgb(65 0 2);
   --background: rgb(255 247 250);
   --on-background: rgb(31 26 31);
   --surface: rgb(255 247 250);
   --on-surface: rgb(31 26 31);
   --surface-variant: rgb(237 223 232);
   --on-surface-variant: rgb(77 68 76);
   --outline: rgb(127 116 124);
   --outline-variant: rgb(208 195 204);
   --shadow: rgb(0 0 0);
   --scrim: rgb(0 0 0);
   --inverse-surface: rgb(53 47 52);
   --inverse-on-surface: rgb(249 238 244);
   --inverse-primary: rgb(237 180 235);
   --primary-fixed: rgb(255 214 251);
   --on-primary-fixed: rgb(50 9 54);
   --primary-fixed-dim: rgb(237 180 235);
   --on-primary-fixed-variant: rgb(98 54 101);
   --secondary-fixed: rgb(228 223 255);
   --on-secondary-fixed: rgb(26 18 73);
   --secondary-fixed-dim: rgb(199 191 255);
   --on-secondary-fixed-variant: rgb(70 63 119);
   --tertiary-fixed: rgb(255 218 211);
   --on-tertiary-fixed: rgb(51 17 11);
   --tertiary-fixed-dim: rgb(246 184 172);
   --on-tertiary-fixed-variant: rgb(103 59 51);
   --surface-dim: rgb(226 215 222);
   --surface-bright: rgb(255 247 250);
   --surface-container-lowest: rgb(255 255 255);
   --surface-container-low: rgb(252 240 247);
   --surface-container: rgb(246 235 241);
   --surface-container-high: rgb(241 229 236);
   --surface-container-highest: rgb(235 223 230);
}
