:root {
   --theme-sheet-width-xxl: 1920px;
   --theme-sheet-width-xl: 1140px;
   --theme-sheet-width-lg: 940px;
   --theme-sheet-width-md: 720px;
   --theme-sheet-width-sm: 560px;
   --theme-sheet-width-xs: 340px;
   --theme-sheet-width-xxs: 300px;
   --primary-color: #c64bde;
   --secondary-color: rgba(179, 94, 244, 1);
   --dark-primary-color: #764bde;
   --dark-secondary-color: #5955fa;
   --bright-bg-color: #f2f2f2;
   --middle-bg-color: #e8e8e8;
   --dark-bg-color: #1a1a1a;

   --silver-background: rgb(242, 242, 242);
   --silver-gradient-background: linear-gradient(
      150deg,
      rgba(242, 242, 242, 1) 0%,
      rgba(242, 242, 242, 1) 50%,
      rgba(250, 232, 225, 0.5411414565826331) 100%
   );
}

/* adaptive style up to 1024px && down from 1200px  */

@media screen and (max-width: 1200px) {
   .features .container,
   .container {
      max-width: 98%;
   }

   /* .header__navbar.container, */
   .features .container,
   .cta .container,
   .features-label,
   .about__concepts,
   .about .container,
   .our-clients .container,
   .section-subtitle,
   .features .section-subtitle,
   .features__description,
   .extra-services__content.container,
   .about__concepts,
   .section-title,
   .section-subtitle {
      max-width: var(--theme-sheet-width-lg);
   }

   .header__navbar.container {
      padding: 0 60px;
   }

   .services__card {
      width: 320px;
   }

   .about .container {
      gap: 20px;
      justify-content: space-between;
   }

   .about-company {
      padding-left: 0;
   }

   .about__introduction {
      width: 50%;
   }

   .about__concepts {
      justify-content: space-around;
   }

   .about__concepts-item {
      padding: 22px;
      width: 30%;
   }

   .service-description__image,
   .service-description__service-types {
      width: 74%;
      margin: 0 auto 40px;
   }

   .service-description .section-title {
      width: 80%;
      margin-bottom: 50px;
      white-space: initial;
   }

   .extra-services__card {
      height: auto;
   }

   .features__text li {
      padding-left: 0;
   }

   /* .our-clients__article,
   .our-clients__gallery li.card {
      width: 800px;
   } */

   .header__content {
      padding: 60px;
      background-size: 58%;
      background-position-y: 53%;
   }

   .header__subtitle,
   .header__description {
      max-width: 45%;
      margin: 10px 0;
   }

   /* .container, */
   .service-description .container {
      overflow: hidden;
   }

   .service-description__service-types {
      text-align: left;
      padding: 20px;
   }

   .service-description__service-types ul li p {
      padding-left: 0px;
      text-align: left;
   }

   .service-description__service-types h4 {
      text-transform: none;
   }

   .prev-btn {
      left: 7%;
   }
   .next-btn {
      right: 7%;
   }

   .our-clients > p {
      max-width: 80%;
   }

   .cta-picture {
      height: 320px;
      margin: 20px 0;
   }

   .cta__subtitle {
      font-size: 1.9rem;
   }

   .cta .container {
      justify-content: center;
      gap: 20px;
   }

   .cta .container .text {
      width: 45%;
   }

   .cta .container .text,
   .cta__description {
      margin: 20px auto;
   }

   .cta .section-title {
      margin-bottom: 0;
   }

   .cta .section-subtitle {
      margin: 1rem 0;
   }

   .cta__gallery {
      width: 80%;
   }
   .cta .cta__gallery .label {
      width: max-content;
      top: -34px;
   }

   .slider-pagination {
      bottom: -60px;
   }

   footer .container {
      padding: 2rem;
      gap: 30px;
   }

   .footer-section {
      font-size: 1rem;
   }
}

@media screen and (max-width: 1023px) {
   .cta .section-subtitle,
   .features .container,
   .cta .container,
   .features-label,
   .about__concepts,
   .about .container,
   .our-clients .container,
   .section-subtitle,
   .features .section-subtitle,
   .features__description,
   .features .container,
   .extra-services__content.container,
   .about__concepts,
   .section-title,
   .section-subtitle {
      max-width: var(--theme-sheet-width-md);
   }

   .header__content {
      max-width: 100%;
      margin: 60px;
      padding: 20px;
   }

   .header__navbar.container {
      max-width: 98%;
      padding: 0 60px;
   }

   .our-clients__article,
   .our-clients__gallery li.card {
      width: 600px;
   }

   .services__card:nth-child(3) {
      margin-top: 0;
      margin-right: 26%;
      margin-bottom: -240px;
   }

   .about .container {
      justify-content: space-between;
      padding: 0;
      gap: 10px;
   }

   .about__concepts-item > div {
      justify-content: space-around;
   }

   .about__concepts-item > div > p:first-of-type {
      margin-left: -10px;
   }

   .about__concepts-item {
      padding-right: 5px;
      padding-left: 5px;
   }

   .extra-services__card-section ul {
      width: auto;
      max-width: 100%;
   }

   .extra-services__image:nth-of-type(3) {
      display: none;
   }

   .extra-services__card:nth-child(2) .extra-services__image,
   .extra-services__card:nth-child(2) .extra-services__text-content,
   .extra-services__card .extra-services__image,
   .extra-services__card .extra-services__text-content {
      box-sizing: border-box;
      width: 50%;
   }

   .extra-services__card:last-of-type {
      flex-direction: row-reverse;
   }

   .card__description {
      height: auto;
   }

   ol.our-clients__gallery {
      min-height: auto;
   }

   .footer-section.logo .text {
      font-size: 0.728rem;
      letter-spacing: -0.5px;
   }
   .footer-section .text {
      font-size: 0.82rem;
   }

   .nav-menu__item {
      padding: 0 4px;
      margin: 0 1px;
   }

   .header__navbar_social a {
      margin-right: 0.1rem;
   }

   .prev-btn {
      left: 0;
   }
   .next-btn {
      right: 0;
   }
}

@media screen and (max-width: 820px) {
   .header__content {
      padding: 0 40px;
      max-width: 100%;
      margin: 0;
   }

   .header__navbar.container {
      max-width: 98%;
      padding: 0 10px 0 20px;
   }

   .header__navbar_social li {
      margin-right: 4px;
   }
}

@media screen and (max-width: 767px) {
   .cta .section-subtitle,
   .features .container,
   .cta .container,
   .features-label,
   .about__concepts,
   .about .container,
   .our-clients .container,
   .features .section-title,
   .features .section-subtitle,
   .features__description,
   .extra-services__content.container,
   .about__concepts,
   .section-title,
   .section-subtitle {
      max-width: 98%;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
   }

   .cta__description .section-title,
   .cta__description .section-subtitle {
      padding: 0;
   }

   .cta .container .text {
      width: 100%;
   }

   .header__content {
      padding: 30px;
   }

   .header__navbar.container {
      padding: 0 0 0 10px;
   }

   h1,
   .header__title {
      font-size: 2.25rem; /* 36px font size  */
   }

   .about {
      padding: 20px 30px 120px;
   }

   .services__card {
      width: 290px;
   }

   .services__image {
      height: auto;
   }

   .about .icon {
      height: 220px;
   }

   .about__concepts {
      padding: 0;
      gap: 10px;
   }

   .service-description__service-types {
      width: 100%;
      box-sizing: border-box;
      margin: 0 70px 0 30px;
   }

   .service-description__image {
      width: 100%;
      margin: 0 60px 40px;
      height: 340px;
   }

   .service-description__service-types ul li {
      margin-left: 10px;
      width: 90%;
   }

   .our-clients__article,
   .our-clients__gallery li.card {
      width: 560px;
   }

   .features .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
   }

   .extra-services__text-content,
   .extra-services__image {
      width: 50%;
   }

   .extra-services__card-section {
      width: 100%;
      box-sizing: border-box;
   }

   .extra-services__content.container {
      width: 100%;
   }

   footer .container {
      padding: 30px;
      gap: 28px;
   }

   .header__content-section {
      min-height: auto;
      max-height: fit-content;
      padding: 0;
   }

   .header__content {
      margin: 0;
   }

   .our-clients__gallery li.card {
      height: 520px;
   }

   .nav-menu__item a {
      font-size: 0.875rem;
   }

   .about__concepts-item > div > p:first-of-type {
      font-size: 2rem;
      margin-left: -10px;
   }

   .about__concepts-item > div > p:last-of-type {
      padding-left: 0px;
   }

   .header__content {
      padding-bottom: 60px;
   }

   .header__title {
      margin-top: 30px;
      margin-bottom: 20px;
   }

   .header__title,
   .header__subtitle,
   .header__description {
      max-width: 98%;
   }

   .header-picture {
      max-width: 100%;
      width: auto;
      height: 340px;
      bottom: -100px;
      right: 4%;
   }

   .header .cta-button {
      z-index: 1;
   }
}

@media screen and (max-width: 619px) {
   .header__content.container {
      background-image: none;
   }

   .header .cta-button {
      margin: 20px 0;
   }

   .header__navbar.container {
      padding: 0 20px 0 30px;
   }

   .extra-services {
      overflow: hidden;
   }

   .extra-services__title,
   .features__card-title {
      font-size: 1.25rem; /* 20px font size  */
      font-weight: 400;
   }

   .features__description {
      width: var(--theme-sheet-width-xs);
   }

   .our-clients__article,
   .our-clients__gallery li.card {
      width: 500px;
   }

   .our-clients__article {
      height: 540px;
   }

   .features .section-title,
   .section-title {
      margin-top: 40px;
   }

   .features .container {
      padding-left: 0;
      padding-right: 0;
   }

   .services__card {
      width: 380px;
   }

   .services__card.animated {
      opacity: 1;
   }

   .services__image {
      height: 240px;
   }

   .services__card,
   .services__card:nth-child(2),
   .services__card:nth-child(3) {
      margin: 0 auto;
   }

   .services__section-subtitle,
   .services__card-section ul {
      margin: 60px auto;
   }

   .about {
      padding: 20px 0 60px;
      background: linear-gradient(
         0deg,
         rgba(198, 75, 222, 1) 0%,
         rgba(198, 75, 222, 1) 46.8%,
         rgba(229, 229, 229, 1) 46.8%,
         rgba(229, 229, 229, 1) 100%
      );
   }

   .about .container {
      justify-content: start;
      gap: 20px;
   }

   .about__concepts {
      flex-wrap: wrap;
   }
   .about__concepts-item {
      min-width: 40%;
      max-width: 90%;
      padding-top: 10px;
   }

   .about__concepts-item .icon {
      height: 120px;
   }

   .about__introduction {
      height: 360px;
   }

   .service-description .container,
   .about__introduction,
   .about-company,
   .about__concepts,
   .cta__gallery,
   .cta .container .text {
      width: 100%;
   }

   footer .container {
      grid-template: auto auto auto auto / 1fr;
   }

   footer .logo {
      order: 1;
   }

   .menu-btn {
      display: flex;
      align-items: center;
   }
   .menu-btn {
      box-sizing: border-box;
      height: 54px;
      width: 54px;
      z-index: 99;
      background: transparent;
      padding: 10px;
      cursor: pointer;
   }

   .menu-btn.open,
   .nav-menu.open {
      transition: all 1s ease-in-out;
   }

   .nav-menu__item {
      min-width: 90%;
      width: -webkit-fill-available;
      margin: 8px auto;
   }

   .nav-menu__item a {
      display: block;
      width: 100%;
      height: 100%;

      font-size: 1.125rem;
      line-height: 1.7;
      padding: 4px 0;
      margin: 0;

      border: 2px solid var(--middle-bg-color);
   }

   .nav-menu__item:active a,
   .nav-menu__item:hover a {
      background-color: var(--middle-bg-color);
      color: #1a1a1a;
   }

   .menu-btn.open {
      content: url('../images/icons/close.svg');
      background-color: var(--middle-bg-color);
   }
   .menu-btn.open.closed {
      content: url('../images/icons/menu.svg');
      background: #fff;
   }

   .nav-menu.open {
      transform: translate(0, 0);
   }
   .nav-menu.open.closed {
      transform: translate(-100%, 0);
   }

   .nav-menu,
   .header__navbar.container {
      position: fixed;
   }

   .header__navbar.container {
      max-width: 100vw;
      width: 100vw;
      top: 0;
      left: 0;
      z-index: 2;
   }

   .header__content-section {
      padding-top: 70px;
   }

   .nav-menu {
      /* position: fixed; */
      display: block;
      box-sizing: border-box;
      left: 0;
      top: 0;
      padding: 60px 20px 40px;

      background: #fff;

      min-height: 100vh;
      height: auto;
      max-height: 800px;

      min-width: 300px;
      width: 100vw;
      max-width: 620px;

      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.11);

      opacity: 0.985;
      z-index: 3;
   }

   .nav-menu__list {
      flex-direction: column;
      margin-bottom: 20px;
   }

   .header__navbar_social {
      margin-left: auto;
      margin-right: 30px;
   }

   .header__navbar_social li {
      margin-right: 8px;
   }

   .service-description {
      padding-bottom: 40px;
   }

   .service-description .container {
      padding: 0 20px;
   }

   .service-description__image {
      margin: 20px;
   }

   .service-description .section-title {
      margin: 60px auto 20px;
   }

   .service-description__service-types {
      margin: 0 auto;
      padding: 20px;
   }

   .cta {
      margin: 0;
   }

   .cta__slider {
      height: 304px;
   }

   .cta__slider img:hover {
      object-position: center center;
   }

   .services__content {
      margin-top: 270px;
   }

   .header .cta-button {
      margin-top: 0;
   }

   .services .section-title {
      margin-top: 20px;
   }

   .header-picture {
      height: auto;
      width: auto;
      bottom: -260px;
      z-index: 1;
   }

   .header__content-section {
      overflow: visible;
   }

   .header__content.container {
      padding-bottom: 90px;
   }
}

@media screen and (max-width: 519px) {
   .our-clients__article,
   .our-clients__gallery li.card {
      width: 400px;
   }

   /* .service-description .section-title, */
   .section-title,
   .cta .section-title,
   .about .section-title {
      font-size: 1.875rem; /* 30px font size  */
      line-height: normal;
   }

   .cta__description,
   .features__subtitle,
   .features__description p,
   .service-description__service-types h4,
   .cta__subtitle {
      font-size: 1.125rem; /* 18px font size  */
   }

   .our-clients > p,
   .section-subtitle,
   .features .section-subtitle,
   .services__section-subtitle,
   .services__section-subtitle a,
   .extra-services__description,
   .header__description,
   .features__card-title {
      font-size: 1rem; /* 16px font size  */
   }

   .header .cta-button {
      font-size: 0.875rem; /* 14px font size  */
   }

   .header__title {
      line-height: 1.1;
   }

   .icon {
      margin: -4px 0;
      padding-bottom: 2px;
      font-size: 1rem;
   }

   .features__text p {
      font-size: 1rem;
      text-align: start;
      max-width: 88%;
      line-height: 1.5;
      padding: 4px 0;
      margin: auto;
   }

   .cta,
   .extra-services__description,
   .features__text {
      margin-bottom: 30px;
   }

   .extra-services__introduction,
   .features .section-subtitle,
   .features__description p,
   .services__section-subtitle,
   .services__card-section ul {
      margin: 30px auto;
   }

   .service-description__service-types {
      margin: 0 auto;
   }

   .service-description__service-types ul li::before {
      left: -12px;
   }

   /* .service-description__service-types ul li p, */
   .service-description__service-types ul {
      padding-left: 20px;
   }

   .service-description__service-types ul li p {
      text-align: start;
      line-height: 1.2;
   }

   .extra-services__description,
   .card__description h5 {
      line-height: 1.2;
      font-weight: 300;
   }

   .service-description__service-types,
   .extra-services__card-section ul {
      width: 98%;
   }

   .about__concepts-item {
      min-width: auto;
      max-width: none;
      width: 100%;
   }

   .extra-services__card-section ul {
      gap: 20px;
      margin: 20px auto;
   }

   .extra-services__card {
      flex-wrap: wrap;
      overflow: visible;
   }

   .extra-services__image,
   .extra-services__text-content {
      width: 100% !important;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.11);
   }

   .extra-services__text-content {
      padding-right: 25px;
   }

   .extra-services__image {
      height: 300px;
   }

   .features .container {
      margin: 0;
   }

   .features__card {
      padding: 5px;
   }

   .services__card {
      width: 320px;
   }

   .about {
      padding-bottom: 80px;
   }

   .about-company {
      width: 100%;
      padding-bottom: 40px;
   }

   .about-company p:nth-of-type(2) {
      padding-right: 35%;
      position: relative;
      overflow: hidden;
   }

   .about-company p:nth-of-type(2)::after {
      display: block;
      content: '';
      background-image: url('../images/logo/logo-transparent.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      object-position: center;
      width: 90px;
      height: 140px;
      position: absolute;
      top: 0;
      right: 4%;
   }

   .about .container {
      position: relative;
   }

   .about__concepts-item > div {
      justify-content: flex-start;
   }

   .about__concepts-item > div > p:first-of-type {
      margin-top: 5px;
      margin-left: 0;
      width: 60px;
   }

   .about__concepts-item > div > p:last-of-type {
      padding-left: 70px;
   }

   .about__concepts-item {
      padding: 0 20px 0 25px;
   }
   .about__concepts {
      gap: 20px;
   }

   .services__section-subtitle {
      max-width: 250px;
   }

   .cta {
      padding: 0;
   }

   .cta__description {
      font-weight: 400;
   }

   .extra-services__introduction:last-of-type,
   .cta .section-title {
      margin: 60px auto 0;
   }

   .cta__subtitle {
      margin: 10px auto 20px;
   }

   .service-description .section-title {
      text-transform: uppercase;
      text-align: center;
      line-height: 1.1;
   }

   .service-description__image {
      border: 10px solid #ffffff;
      margin: 0 auto -16px;
      max-width: 80%;
      height: 280px;
   }

   .service-description__service-types {
      padding: 10px 0;
   }

   .cta__subtitle,
   .features__description p,
   .features .section-subtitle {
      max-width: 84%;
   }

   .cta-picture img {
      width: 33%;
      height: 120px;
   }

   .cta-picture img:nth-child(4),
   .cta-picture img:nth-child(5) {
      width: 49.5%;
   }

   .cta-picture {
      height: auto;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0;
   }

   .our-clients__article {
      height: 520px;
   }

   .cta span.hyphen {
      display: contents;
   }

   .services__content {
      margin-top: 140px;
   }

   .services__image {
      height: 200px;
   }

   .header-picture {
      bottom: -170px;
   }

   .header__content.container {
      padding-bottom: 120px;
   }
}

@media screen and (max-width: 424px) {
   .our-clients__article,
   .our-clients__gallery li.card {
      width: 330px;
   }

   .feedback-wrapper {
      width: 360px;
      padding: 20px;
   }

   h1,
   .header__title {
      font-size: 1.875rem; /* 30px font size  */
      margin: 20px 0 10px;
   }
   .header__description ul {
      margin-bottom: 10px;
   }

   .header-picture {
      bottom: -140px;
   }

   .extra-services__image {
      height: 240px;
   }

   .extra-services .section-title {
      padding: 0;
   }

   .header__description svg {
      height: 18px;
      width: 18px;
   }

   .header__navbar_social {
      height: 25px;
      margin: 0 auto;
   }
   .header__navbar_social a {
      margin-right: 2px;
   }

   .header__navbar.container {
      padding-right: 20px;
   }

   .menu-btn {
      padding: 0;
      width: 34px;
      height: 34px;
   }
}

@media screen and (max-width: 380px) {
   .feedback-wrapper {
      width: 340px;
   }

   .feedback-wrapper .label {
      margin: 15px 0;
   }

   .feedback-wrapper form .btn-submit {
      margin-top: 15px;
   }
   .about-company {
      padding-right: 0;
   }

   .about-company p:nth-of-type(2) {
      padding-right: 28%;
   }

   .about-company p:nth-of-type(2)::after {
      width: 80px;
      height: 96px;
      top: 0;
      right: 0;
   }

   .about__concepts-item {
      padding: 0 16px;
   }

   .header-picture {
      bottom: -120px;
   }

   .services__content {
      margin-top: 110px;
   }

   .slider-pagination {
      max-width: 98%;
      left: 35%;
      transform: translate(-20%, -20%);
   }

   .cta__slider img:hover,
   .cta__slider img {
      object-position: left center;
   }

   .header .cta-button {
      padding: 10px 20px;
      margin-bottom: 10px;
   }
}

@media screen and (max-width: 340px) {
   .feedback-wrapper {
      width: 310px;
   }

   /* .header__content.container, */
   .header__navbar.container,
   .cta .section-subtitle,
   .features .container,
   .cta .container,
   .features-label,
   .about__concepts,
   .about .container,
   .our-clients .container,
   .section-subtitle,
   .features .section-title,
   .features .section-subtitle,
   .features__description,
   .extra-services__content.container,
   .about__concepts,
   .section-title,
   .section-subtitle {
      padding-left: 10px;
      padding-right: 10px;
   }

   /* .header__navbar.container, */
   .header__content.container {
      padding-left: 16px;
   }

   .our-clients__article,
   .our-clients__gallery li.card,
   .features__description {
      width: var(--theme-sheet-width-xxs);
   }

   /* .cta .cta__gallery .label, */
   .services__section-subtitle,
   .service-description .section-title,
   .features .section-title,
   .section-title {
      max-width: 98%;
   }

   .service-description .section-title,
   .features .section-title,
   .section-title {
      margin-left: auto;
      margin-right: auto;
      width: auto;
   }

   .service-description__service-types {
      padding: 10px 0;
   }

   .service-description .container {
      padding: 0 6px;
   }

   .service-description .section-title,
   .section-title,
   .cta .section-title,
   .about .section-title {
      font-size: 1.4rem;
      line-height: 1.2;
   }

   .container .section-title,
   .features .section-title,
   .section-title,
   .service-description__service-types,
   .services__title,
   .services__description {
      line-height: 1.4;
   }

   .about__concepts-item > div > p:first-of-type {
      font-size: 1.875rem;
   }

   .features__subtitle,
   .cta .cta__gallery .label {
      font-size: 1rem;
   }

   .features__text .icon {
      margin-top: 0;
   }

   .our-clients > p,
   .features__text p,
   .about__concepts-item p,
   .header__description,
   .section-subtitle,
   .features .section-subtitle,
   .services__section-subtitle,
   .services__title,
   .services__description,
   .services__section-subtitle a,
   .extra-services__description,
   .features__card-title,
   .header .cta-button {
      font-size: 0.875rem; /* 14px font size  */
      line-height: 1.25;
   }

   .about__concepts-item p {
      margin: 8px 0;
   }

   .about__concepts-item .icon {
      height: 80px;
   }
   .about__concepts-item .icon svg {
      width: 80px;
      height: 80px;
   }

   .about {
      background: linear-gradient(
         0deg,
         rgba(198, 75, 222, 1) 0%,
         rgba(198, 75, 222, 1) 40%,
         rgba(229, 229, 229, 1) 40%,
         rgba(229, 229, 229, 1) 100%
      );
   }

   .services-btn {
      font-size: 0.6rem;
   }

   .services__card {
      max-width: 90%;
      padding: 18px;
      min-height: auto;
   }

   .services__image {
      height: 190px;
   }
   .services__title {
      margin: 16px auto 10px;
   }
   .services-btn {
      margin: 0 auto 14px;
   }

   .services__card-section ul {
      margin-top: 40px;
   }

   .header-picture {
      bottom: -100px;
   }

   .services__content {
      margin-top: 90px;
   }

   .header .cta-button {
      padding: 8px 16px;
      margin-bottom: 10px;
   }
}
