@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;400&family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

:root {
   --theme-sheet-width-xxl: 1920px;
   --theme-sheet-width-xl: 1140px;
   --theme-sheet-width-lg: 940px;
   --theme-sheet-width-md: 720px;
   --theme-sheet-width-sm: 560px;
   --theme-sheet-width-xs: 340px;
   --theme-sheet-width-xxs: 300px;
   --primary-color: #c64bde;
   --secondary-color: rgba(179, 94, 244, 1);
   --dark-primary-color: #764bde;
   --dark-secondary-color: #5955fa;
   --bright-bg-color: #f2f2f2;
   --middle-bg-color: #e5e5e5;
   --dark-bg-color: #1a1a1a;
}

body {
   background-color: var(--dark-primary-color);
   background-color: var(--dark-primary-color);
   font-family: 'Arial', sans-serif;
   line-height: 1.6;
   font-size: 16px;
   margin: 0;
   padding: 0;
}

.hidden {
   display: none !important;
}

.container {
   width: var(--theme-sheet-width-xl);
   padding: 1px 0;
   margin: 0 auto;
}

.header__navbar,
.header__content,
.services__card-section ul,
.services__card,
.extra-services__card-section ul,
.extra-services__card,
.header__content-section,
.features__card,
.cta-picture,
.cta,
.features__subtitle,
.card__description,
.our-clients__gallery .card__content,
.service-description .container,
.about article,
.about-company,
.about__concepts,
.service-description,
.about__concepts-item > div,
.fb-posts {
   display: flex;
}

header,
.extra-services__image,
.services::after,
.services__image,
.about__introduction,
.about .icon,
.service-description__service-types ul li::before,
.our-clients__article,
.features__background-image,
.cta-button {
   display: block;
}

.header__content,
.cta,
.features__card,
.our-clients__gallery .card__content,
.about-company,
.about__concepts,
.services__card {
   flex-direction: column;
}

.features h3,
.features__description p,
.extra-services__section-title {
   font-size: 2rem;
}

.section-subtitle,
.features__card-title,
.extra-services__introduction,
.header__subtitle {
   font-size: 1.6rem;
}

.features__subtitle,
.services__title,
.extra-services__description,
.our-clients > p,
.service-description__service-types h4,
.about-company .title,
.services__title,
.cta__description,
.card__description p {
   font-size: 1.4rem;
}

.services__card,
.services__description,
.about p,
.about-company .description,
.about__concepts p,
.about__concepts-item p,
.card__description h5,
.features__card,
.features__text p,
.extra-services__card,
.extra-services__footer,
.extra-services__footer a {
   font-size: 1rem;
}

.services__title,
.about__concepts .about__concepts-title,
.about .about__section-title,
.section-title,
.features__card-title {
   font-family: 'Montserrat', sans-serif;
}

.features__description p,
.about-company .description,
.about-company p,
.extra-services__description,
.about__concepts p,
.about__concepts-item p,
.card__description h5 {
   font-family: 'Open Sans', sans-serif;
}

.section-subtitle,
.features__text p,
.services__description {
   font-family: 'AR One Sans', sans-serif;
}

.card__description p,
.extra-services__title {
   font-family: 'Roboto', sans-serif;
}

header,
.service-description,
.card__description,
.prev-btn:hover,
.next-btn:hover,
.features__subtitle,
.cta-button,
.extra-services__card:nth-child(3),
.extra-services__card:nth-child(2),
.extra-services__footer,
.extra-services__footer a {
   color: #ffffff;
}

.section-title,
.services__section-subtitle a,
.services__section-subtitle,
.about-company .description,
.about-company p,
.features h3,
.extra-services__section-title,
.extra-services__section-subtitle,
.extra-services__card:nth-child(1),
footer {
   color: #000;
}

.services__image img,
.header__background-image img,
.header__background-image,
.service-description__backgroung,
.card__picture,
.card__picture img,
.service-description__backgroung img,
.features__image img,
.extra-services__image img,
.about .icon img {
   width: 100%;
   height: 100%;
}

.services::after,
.service-description__backgroung,
.header__background-image,
.service-description__service-types ul li::before,
ol.our-clients__gallery,
.card__picture,
.card__description,
.prev-btn,
.next-btn,
.features__background-image {
   position: absolute;
}

.header__content-section,
.header__content,
.services,
.service-description,
.service-description__service-types ul li,
.our-clients,
.our-clients .container,
.our-clients__article,
.our-clients__gallery li.card,
.features {
   position: relative;
}

/* ------------ header-content -------- */

header {
   padding: 1rem;
   text-align: center;
   padding: 0;
}

header,
.header__navbar,
.services__card,
.features__card,
.extra-services__card,
.cta,
.our-clients,
.extra-services {
   background: #fff;
}

h1 {
   font-size: 2.5rem;
}

.header__navbar {
   height: 4.5rem;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 100%;
}

.header__content-section {
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 880px;
   max-height: 100vh;
   background-color: #333;
   overflow: hidden;
}

.header__background-image {
   opacity: 0.78;
   overflow: hidden;
}

.header__background-image img {
   object-fit: cover;
   object-position: center;
}

.header__content {
   box-sizing: border-box;
   min-height: 460px;
   align-items: baseline;
   margin: 80px 0 auto;
   text-align: left;
   background-color: #00000038;
   padding: 20px;
   background-image: url('../images/img/png/project_A1.png');
   background-position: right;
   background-size: 62%;
   background-repeat: no-repeat;
   background-position-y: 64%;
}

.header__navbar_company-logo {
   height: 52%;
   margin: auto 0;
   cursor: pointer;
}

.header__navbar_company-logo img {
   height: 100%;
   width: auto;
}

.header__navbar_social {
   height: 36%;
   margin: auto 0;
}

.header__navbar a,
.header__navbar_social a {
   cursor: pointer;
   text-decoration: none;
   margin-right: 0.4rem;
}

.header__navbar_social img {
   display: inline-block;
   height: 100%;
   width: auto;
}

.header__title,
.header__description,
.header__button {
   z-index: 1;
}

.header__title {
   font-size: 2.6rem;
   line-height: 2.8rem;
   max-width: 70%;
   font-weight: 600;
   margin-top: 60px;
   margin-bottom: 30px;
   word-wrap: normal;
   white-space: normal;
}

.header__subtitle {
   line-height: 1.2;
   font-weight: 400;
   max-width: 40%;
}

.header__description {
   max-width: 34%;
   margin-top: 20px;
   margin-bottom: 44px;
}

.header .cta-button {
   margin-left: 0;
}

/* --/ header-content */

/* ------------ body-content -------- */
/* ------------ body __ services-content -------- */

.services {
   background: rgb(255, 255, 255);
   min-height: 870px;
   z-index: 0;
}

.services::after {
   content: '';
   top: 38%;
   left: 0;
   width: 100%;
   height: 320px;

   /* background-color: rgba(179, 94, 244, 1); */
   background-color: rgb(198, 75, 222);
   z-index: -1;
}

.services__content {
   text-align: center;
   margin: 0 auto;
}

.services__section-subtitle a:hover {
   color: #452a70;
}

.services__section-subtitle {
   font-size: 1.278rem;
   margin: 16px auto 0;
   font-weight: 400;
}

.services__card-section ul {
   margin: 57px 0 300px;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   width: 100%;
   padding-left: 0;
}

.services__card {
   align-items: center;
   list-style-type: none;
   cursor: default;
   width: 340px;
   min-height: 578px;
   height: auto;
   flex-grow: 0;
   text-align: justify;
   padding: 30px;
   margin: 0;
   box-sizing: border-box;
   color: #111111;
   line-height: 1.5rem;
   overflow: hidden;
   text-align: center;
   border: 1px solid rgba(198, 75, 222, 0.233);
   border-style: outset;
   box-shadow: 0 23px 30px rgba(79, 29, 88, 0.233);
}

.services__card:nth-child(2) {
   margin-top: 120px;
   margin-bottom: -120px;
}

.services__card:nth-child(3) {
   margin-top: 240px;
   margin-bottom: -240px;
}

.services__image {
   width: 100%;
   height: 180px;
   overflow: hidden;
   border-radius: 4px;
}

.services__title {
   font-weight: 400;
   line-height: 1.8;
   text-transform: uppercase;
   margin: 32px auto 20px;
}

.services__description {
   text-align: center;
   line-height: 1.6rem;
   margin-top: 0;
}

.services-btn {
   border-style: none none solid;
   border-width: 1px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin: 20px auto 30px;
   padding: 6px 8px;
   background: transparent;
   cursor: pointer;
}

.services-btn:hover {
   border-color: rgba(179, 94, 244, 1);
   transition-duration: 0.1s;
}

.services__footer {
   margin: 39px auto 60px;
}

.services__footer .services__section-subtitle a {
   letter-spacing: 1px;
   padding: 0 0 4px;
   text-decoration: none;
   border-bottom: 1px solid #000;
}

/* --/ services-content */

/* ------------ body __ about -------- */

.about {
   padding: 20px 0 120px;
   background-color: var(--bright-bg-color);
   border-top: 1px solid rgb(233, 224, 224);
}

.about__concepts {
   flex-wrap: wrap;
}

.about__concepts .about__concepts-title {
   font-size: 2.5rem;
   line-height: 1.1;
   text-align: center;
   width: 100%;
}

.about__concepts-item {
   width: 30%;
}

/* .about__concepts-item > div > p {
} */

.about__concepts-item > div > p:first-child {
   min-width: 25%;
   font-size: 2.3rem;
   margin: 5px;
   letter-spacing: -1px;
   font-weight: 400;
}

.about .about__section-title {
   font-size: 3.75rem;
   text-transform: none;
   font-weight: 700;
   text-align: center;
}

.about__concepts-item,
.about-company {
   padding: 20px 10px;
}

.about__introduction p {
   width: 80%;
   font-weight: 300;
   margin-bottom: -10px;
}

.about__introduction {
   background-image: url('../images/logo/logo-transparent.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   overflow: hidden;
   margin: 30px 0;
}

.nowrap {
   white-space: nowrap;
}
.about .title {
   margin: 0;
   letter-spacing: -0.6px;
}

.about-company ul {
   padding: 0;
}

.about .description,
.about .text {
   margin: 0;
   font-size: 1rem;
   text-align: left;
   text-decoration: none;
   line-height: 1.6;
   letter-spacing: normal;
}

.about .description {
   font-weight: 400;
   width: 80%;
   /* text-indent: 20px; */
}

.about-company .title,
.about-company .label {
   font-weight: 600;
}

.about-company .label {
   margin: 16px 0 0;
}

.about-company ul li {
   list-style-type: '-';
   padding-left: 10px;
   margin-left: 10px;
}

.about article {
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content: center;
}

.about-company {
   width: 44%;
}

.about__introduction {
   width: 34%;
}

.about-company,
.about__concepts {
   justify-content: space-between;
}

.about__concepts {
   gap: 0;
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 80px;
}

.about__concepts-item {
   list-style-type: none;
   padding: 30px;
   margin: 0;
   width: 28%;
}

.about .icon {
   width: 100%;
   height: 280px;
   text-align: center;
   margin: 0 0 20px;
   overflow: hidden;
}

.about .icon img {
   object-fit: cover;
   object-position: center;
   filter: brightness(1.11) contrast(0.74);
   transition: 900ms;
}

.about .icon:hover img {
   filter: brightness(1) contrast(1);
}

/* ------------ body __ service-description -------- */

.service-description {
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   overflow: hidden;
   font-size: 1.2rem;
   min-height: 800px;
   background-color: rgb(93, 93, 93);
   padding: 60px 0 100px;
}

.service-description__backgroung {
   bottom: 0;
}

.service-description__backgroung img {
   min-height: 341px;
   opacity: 0.4;
}

.service-description .container {
   flex-wrap: wrap;
   text-align: center;
   z-index: 1;
}

.service-description .section-title {
   width: 100%;
   color: #fff;
   white-space: nowrap;
   margin: 0 auto 80px;
}

.service-description__service-types {
   box-sizing: border-box;
   width: 55%;
   text-align: left;
   background-color: rgb(77, 77, 77);

   /* box-shadow: 40px 0 rgba(179, 94, 244, 1); */
   box-shadow: 40px 0 rgb(198, 75, 222);
}

.service-description__service-types h4,
.service-description__service-types ul li {
   margin: 20px 25px;
}

.service-description__service-types ul li {
   width: 86%;
   list-style-type: none;
}

.service-description__service-types ul li::before {
   content: '';
   left: -22px;
   top: 8px;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: transparent;
   border: 2px solid #ffffff;
}

.service-description__service-types h4 {
   font-weight: normal;
   text-transform: uppercase;
}

.service-description__image {
   border: 20px solid #ffffff;
   box-sizing: border-box;
   width: 35%;
   overflow: hidden;
   transform: rotate(-5deg);
   margin: 14px auto -10px -42px;
}

.service-description__image img {
   height: 100%;
   width: auto;
   min-width: 100%;
}

/* --/ service-description */

/* ------------ body __ our-clients-description -------- */

.our-clients {
   padding: 80px 0;
   text-align: center;
   min-height: 800px;
}

.our-clients .container > p,
.our-clients .container > h2 {
   margin: 20px auto;
}

.section-title {
   font-size: 3.75rem;
   text-transform: none;
   font-weight: 700;
   text-align: center;
}

.our-clients > p {
   line-height: 1.4;
   max-width: 40%;
   margin: 40px auto 0;
}

.our-clients__article {
   box-sizing: border-box;
   height: 620px;
   width: 1000px;
   overflow: hidden;
   margin: auto;
}

ol.our-clients__gallery {
   display: inline-flex;
   min-height: 600px;
   width: auto;
   margin: auto;
   left: 0;
   transition: 1s;
   padding: 0;
}

.our-clients__gallery li.card {
   display: inline-block;
   box-sizing: border-box;
   width: 1000px;
   height: 594px;
   padding: 20px;
   margin: 10px 0;
   overflow: hidden;
}

.our-clients__gallery .card__content {
   width: 66%;
   height: 100%;
   justify-content: center;
}

.card__picture {
   left: 0;
}

.card__picture img {
   object-fit: cover;
}

.card__description {
   flex-direction: column-reverse;
   width: 100%;
   height: 110px;
   align-items: center;
   justify-content: center;
   background: #1a1a1a;
   left: 0;
   bottom: 0;
   padding: 20px 0;
}

.card__description h5,
.card__description p {
   width: 80%;
   margin: 0 auto;
}

.card__description h5 {
   font-weight: normal;
   line-height: 1.6;
   margin-top: 6px;
}

.card__description p {
   line-height: 1.2;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.prev-btn,
.next-btn {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
   bottom: 310px;
   border: none;
   background-color: #4d4d4d;
}

.prev-btn svg,
.next-btn svg {
   fill: #fff;
   width: 70%;
   height: 70%;
   padding: 6px 0;
}

.prev-btn svg {
   padding-right: 3px;
}
.next-btn svg {
   padding-left: 3px;
}

.prev-btn {
   left: 20px;
}

.next-btn {
   right: 20px;
}

.prev-btn:hover,
.next-btn:hover {
   background-color: #1a1a1a;
}

/* --/ our-clients-description */

/* ------------ body __ features and fails section -------- */

.features {
   text-align: center;
   padding: 80px 0;
   background-color: #e5e5e5;
   background-color: var(--middle-bg-color);
   z-index: 0;
   overflow: hidden;
}

.features__background-image {
   content: '';
   width: 100%;
   height: auto;
   top: 36.5%;
   bottom: 120px;
   z-index: -1;
   overflow: hidden;
}

.features__background-image img {
   width: 100%;
   height: 160%;
   object-fit: cover;
   object-position: top;
   filter: grayscale(1);
   opacity: 0.64;
}

.features p {
   line-height: 1;
}

.features__subtitle {
   margin: 10px 0;
   text-align: center;
   width: 100%;
   height: 50px;
   background-color: rgb(216, 69, 112);
   margin: 0 auto;
   justify-content: center;
   align-items: center;
}

.section-subtitle {
   line-height: 1;
   font-weight: 400;
   margin: 60px auto 34px;
}

.features__subtitle:last-of-type {
   background: #764bde;
}

.features__description {
   max-width: var(--theme-sheet-width-xl);
   margin: 1.6rem auto;
   text-align: start;
}

.features__description p {
   font-weight: 300;
   text-align: center;
   line-height: 2rem;
   margin: 60px 0;
}

.features h3 {
   width: 100%;
   text-align: center;
}

.features .container {
   width: 876px;
   display: grid;
   grid-template-columns: 50% 50%;
   gap: 0;
}

.features__card {
   justify-content: start;
   align-items: center;
   line-height: 1.6;
   text-align: center;
   color: #111111;
   padding: 30px;
   margin-bottom: 0;
}

.icon {
   display: inline-block;
   align-self: center;
   vertical-align: middle;
}

.icon.close {
   fill: orangered;
}

.icon.done {
   fill: var(--dark-secondary-color);
}

.features__card:nth-child(2),
.features__card:nth-child(3),
.features__card:nth-child(6),
.features__card:nth-child(7),
.features__card:nth-child(10) {
   background-color: #f2f2f2;
}

.features__card-title {
   line-height: 1.2;
   font-weight: 400;
   margin: 20px auto;
}

.features__text {
   width: 100%;
   text-align: center;
   margin: 0 auto;
}

.features__text p {
   line-height: 1.6;
   padding: 0;
   margin: 0;
   font-weight: 500;
   text-shadow: 2px 2px 6px rgba(136, 136, 136, 0.5);
}

.features__card.bad .features__image {
   border-right: 6px solid rgb(216, 69, 112);
   border-bottom: 6px solid rgb(216, 69, 112);
}

.features__card.good .features__image {
   border-right: 6px solid var(--dark-primary-color);
   border-bottom: 6px solid var(--dark-primary-color);
}

.features__image {
   border-top: 5px solid #000000a4;
   border-left: 5px solid #00000095;
   box-sizing: border-box;
   width: 120px;
   height: 120px;
   margin: 0 auto;
   overflow: hidden;
   border-radius: 50%;
}

.features__image img {
   object-fit: cover;
}

/* --/ features and fails section */

.cta {
   align-items: center;
   text-align: center;
   min-height: 600px;
   padding: 120px 0;
   justify-content: center;
   margin-bottom: 100px;
}

.cta .section-title {
   letter-spacing: -3px;
   margin: 60px auto 1.8rem;
}

.cta span.hyphen {
   display: none;
}

.cta__subtitle {
   font-size: 2.4rem;
   line-height: 2.6rem;
   font-weight: 400;
   letter-spacing: normal;
}

.cta__description {
   font-weight: 600;
   color: #333;
   max-width: 60%;
   margin: 0 auto;
}

.cta-picture {
   width: 100%;
   height: 200px;
   margin: 20px 0 40px;
   overflow: hidden;
}

.cta-picture img {
   width: 20%;
   height: 100%;
   object-fit: cover;
}

.cta-button {
   margin: 40px auto;
   padding: 1rem 2rem;
   background-color: var(--dark-primary-color);
   font-size: 1.2rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.cta-button:hover {
   background-color: #5736a3;
}

.header,
.services,
.about,
.service-description,
.our-clients,
.features,
.cta,
.extra-services,
footer {
   max-width: var(--theme-sheet-width-xxl) !important;
   margin: 0 auto;
}

footer {
   display: grid;
   box-sizing: border-box;
   /* gap: 70px; */
   grid-template-columns: 1.6fr 2fr 2fr 2fr;
   grid-template-rows: 1fr;
   /* grid-template-columns: 19% 27% 27% 27%; */
   /* grid-template-rows: 1fr 100px; */
   /* grid-template-areas: 'col1 col2 col3 col4'; */
   gap: 30px;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgb(77, 77, 77);
   border-top: 1px solid #562e7511;
   padding: 2.5rem;
   color: #fff;
}

.footer-section {
   display: block;
   font-size: 1.2rem;
   margin: 0 auto auto 0;
   text-align: left;
   /* border: 1px solid pink; */
}

.footer-section.logo {
   height: auto;
   /* font-size: 1rem;
   line-height: 1.25; */
   text-align: left;
}

.footer-section.logo p.label {
   /* text-align: left; */
   /* color: transparent; */
   visibility: hidden;
}

.footer-section.logo img {
   height: 110px;
   width: auto;
   object-fit: contain;
   margin: 1rem 0 auto;
}

.footer-section ul {
   list-style-type: none;
   padding-left: 0;
   cursor: default;
}

.footer-section .text {
   font-size: 0.94rem;
   color: var(--middle-bg-color);
   margin: 6px 0;
}

.footer-section .text:hover {
   color: #fff;
}

/* .footer-section:nth-child(1) {
   grid-area: col1;
}
.footer-section:nth-child(2) {
   grid-area: col2;
}
.footer-section:nth-child(3) {
   grid-area: col3;
}
.footer-section:nth-child(4) {
   grid-area: col4;
} */

.footer-section:nth-child(5) {
   display: none;

   /* grid-area: foot; */
   color: #c1c1c1;
   color: #fff;
   color: var(--primary-color);
   width: 100%;
   text-align: center;
   padding: 2rem 0 0;
   /* background-color: var(--dark-bg-color); */
}

/* ------------ body __ extra-services-content -------- */

.extra-services {
   padding-bottom: 60px;
}

.extra-services__introduction {
   line-height: 1.2;
   font-weight: 400;
   max-width: 80%;
   margin: 0 auto;
   text-align: center;
}

.extra-services__introduction:last-of-type {
   width: 100%;
   margin-top: 80px;
}

.extra-services__content {
   text-align: center;
   margin: 0 auto;
}

.extra-services__section-title {
   font-weight: 600;
   margin: 60px auto 20px;
   text-transform: uppercase;
}

.extra-services__section-subtitle {
   font-size: 1.278rem;
   margin: 32px auto 0;
}

.extra-services__card-section ul {
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
   gap: 0;
   margin: 50px auto;
   padding-left: 0;
}

.extra-services__text-content {
   flex-basis: 50%;
   flex-grow: 1;
}

.extra-services__card:nth-child(1) {
   flex-direction: row-reverse;
   text-align: start;
   background: yellow;
}

.extra-services__card:nth-child(2) {
   text-align: left;
   background: darkblue;
}

.extra-services__card:nth-child(2) .extra-services__image,
.extra-services__card:nth-child(3) .extra-services__image {
   flex-basis: 50%;
}

.extra-services__card:nth-child(3) {
   text-align: start;
   background: orangered;
}

.extra-services__card {
   box-sizing: border-box;
   width: 100%;
   height: 310px;
   line-height: 1.5rem;
   align-items: center;
   list-style-type: none;
   text-align: center;
   text-align: justify;
   color: #111111;
   cursor: default;
   overflow: hidden;
   padding: 0;
   margin: 0;
}

.extra-services__image {
   flex-basis: 50%;
   height: 100%;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.extra-services__image img {
   object-fit: cover;
   object-position: center;
}

.extra-services__title {
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 2rem;
   text-transform: uppercase;
   margin: 32px auto 20px;
}

.extra-services__title,
.extra-services__description {
   padding: 0 40px;
}

.extra-services__description {
   line-height: 1.8rem;
   margin-top: 0;
}

.extra-services__footer {
   margin: 39px auto 60px;
}

.extra-services__footer,
.extra-services__footer a {
   line-height: 1.6;
   font-weight: 400;
}

/* --/ extra-services-content */

/* adaptive style up to 1024px && down from 1200px  */

@media screen and (max-width: 1200px) {
   .container {
      width: 100%;
   }

   .features__description,
   .extra-services__content.container {
      width: var(--theme-sheet-width-lg);
   }

   .header__navbar.container {
      width: auto;
      margin: 0 60px;
   }

   .services__card {
      width: 320px;
   }

   .about__concepts {
      justify-content: center;
   }

   .about__concepts-item {
      padding: 22px;
   }

   .service-description__image,
   .service-description__service-types {
      width: 74%;
      margin: 0 auto 40px;
   }

   .service-description .section-title {
      width: 80%;
      margin-bottom: 50px;
      white-space: initial;
   }

   .extra-services__card {
      height: auto;
   }

   .features .container,
   .our-clients__article,
   .our-clients__gallery li.card {
      width: 800px;
   }

   .header__content {
      padding: 60px;
      background-size: 58%;
      background-position-y: 53%;
   }

   .header__subtitle,
   .header__description {
      max-width: 45%;
      margin: 10px 0;
   }

   .service-description__service-types {
      text-align: center;
   }

   .service-description__service-types ul li p {
      padding-left: 20px;
      text-align: justify;
   }

   .our-clients > p,
   .cta__description {
      max-width: 80%;
   }

   .cta-picture {
      height: 320px;
      margin-top: 0;
   }

   .section-title {
      font-size: 3rem;
   }

   .cta__subtitle {
      font-size: 1.9rem;
   }

   footer {
      padding: 2rem;
      gap: 30px;
   }

   .footer-section {
      font-size: 1rem;
   }
}

@media screen and (max-width: 1023px) {
   .features__description,
   .extra-services__content.container {
      width: var(--theme-sheet-width-md);
   }

   .our-clients__article,
   .our-clients__gallery li.card,
   .features .container {
      width: 600px;
   }

   .services__card:nth-child(3) {
      margin-top: 0;
      margin-right: 26%;
      margin-bottom: -240px;
   }

   .about {
      padding: 20px 60px 120px;
   }

   .about .container {
      justify-content: space-between;
      padding: 0;
      gap: 20px;
   }

   .about__introduction,
   .about-company {
      width: 40%;
      padding: 0;
   }

   .about__concepts {
      padding: 0;
      gap: 40px;
      justify-content: space-around;
   }

   .about__concepts-item {
      padding: 0;
      width: auto;
      min-width: 40%;
      max-width: 45%;
   }
   .extra-services__image:nth-of-type(3) {
      display: none;
   }

   .extra-services__card:last-of-type {
      flex-direction: row-reverse;
   }

   .card__description {
      height: auto;
   }

   ol.our-clients__gallery {
      min-height: auto;
   }

   .footer-section.logo .text {
      font-size: 0.728rem;
      letter-spacing: -0.5px;
   }
   .footer-section .text {
      font-size: 0.82rem;
   }
}

@media screen and (max-width: 767px) {
   .features .section-title,
   .features__description {
      width: var(--theme-sheet-width-sm);
   }

   .features .section-title {
      margin: auto;
   }

   .header__content {
      padding: 30px;
   }

   .header__navbar.container {
      margin: 0 30px;
   }

   .about {
      padding: 20px 30px 120px;
   }

   .services__card {
      width: 290px;
   }

   .about .icon {
      height: 220px;
   }

   .about__concepts {
      padding: 0;
      gap: 20px;
   }

   .service-description__service-types {
      width: 100%;
      box-sizing: border-box;
      margin: 0 70px 0 30px;
   }

   .service-description__image {
      width: 100%;
      margin: 0 60px 40px;
      height: 340px;
   }

   .service-description__service-types ul li {
      margin-left: 10px;
      width: 90%;
   }

   .our-clients__article,
   .our-clients__gallery li.card,
   .features .container {
      width: 560px;
   }

   .extra-services__text-content,
   .extra-services__image {
      width: 50%;
   }

   .extra-services__card-section {
      width: 100%;
      box-sizing: border-box;
   }

   .extra-services__content.container {
      width: 100%;
   }

   .extra-services__title,
   .extra-services__description {
      padding: 0 25px;
   }

   footer {
      padding: 25px;
      gap: 18px;
   }

   .header__content-section {
      min-height: auto;
      max-height: fit-content;
      padding: 0;
   }

   .header__content.container {
      margin: 0;
   }

   .our-clients__gallery li.card {
      height: 520px;
   }
}

@media screen and (max-width: 619px) {
   .features__card-title {
      font-size: 1.2rem;
      font-weight: 500;
   }

   .features__description {
      width: var(--theme-sheet-width-xs);
   }

   .our-clients__article,
   .our-clients__gallery li.card {
      width: 500px;
   }

   .our-clients__article {
      height: 540px;
   }

   .features .section-title,
   .features .container {
      width: auto;
      margin: auto 30px;
      box-sizing: border-box;
   }

   .services__card {
      width: 380px;
   }

   .services__image {
      height: 240px;
   }

   .services__card,
   .services__card:nth-child(2),
   .services__card:nth-child(3) {
      margin: 20px auto;
   }

   .services__section-subtitle,
   .services__card-section ul {
      margin: 60px auto;
   }

   .header__title,
   .header__subtitle,
   .header__description {
      max-width: 78%;
   }

   .header__content.container {
      background-image: none;
   }
   .header .cta-button {
      margin: 20px 0;
   }

   .about .container {
      justify-content: start;
   }

   .about-company {
      width: 60%;
   }

   .about__introduction {
      width: 35%;
      margin: 0 auto;
   }

   footer {
      grid-template: auto auto auto auto / 1fr;
      /* grid-template-areas:
         'col2'
         'col3'
         'col4'
         'col1'; */
   }

   footer .logo {
      order: 1;
   }
}

@media screen and (max-width: 519px) {
   .our-clients__article,
   .our-clients__gallery li.card {
      width: 400px;
   }

   .cta .section-title,
   .section-title,
   .header__title,
   .about .about__section-title {
      font-size: 2.5rem;
      line-height: 1.2;
   }

   .about__concepts .about__concepts-title {
      font-size: 2.1rem;
      line-height: 1.4;
   }

   .extra-services__title,
   .extra-services__introduction,
   .cta__description,
   .features__subtitle,
   .features .section-subtitle,
   .features__description p,
   .service-description__service-types h4,
   .services__section-subtitle,
   .cta__subtitle {
      font-size: 1.2rem;
      line-height: 1.4;
   }

   .services__section-subtitle a,
   .extra-services__description,
   .features__card-title {
      font-size: 1.1rem;
   }

   .icon {
      margin: -4px 0;
      padding-bottom: 2px;
      font-size: 1rem;
   }

   .features__text p {
      font-size: 1rem;
      text-align: start;
      max-width: 88%;
      line-height: 1.5;
      padding: 4px 0;
      margin: auto;
   }

   .cta,
   .extra-services__description,
   .features__text {
      margin-bottom: 30px;
   }

   .extra-services__introduction,
   .features .section-subtitle,
   .features__description p,
   .services__section-subtitle,
   .services__card-section ul {
      margin: 30px auto;
   }

   .service-description__service-types {
      margin: 0 auto;
   }

   .service-description__service-types ul li::before {
      left: -12px;
   }

   .service-description__service-types ul li p,
   .service-description__service-types ul {
      padding-left: 20px;
   }

   .service-description__service-types ul li p {
      text-align: start;
      line-height: 1.2;
   }

   .extra-services__description,
   .card__description h5 {
      line-height: 1.2;
      font-weight: 300;
   }

   .service-description__service-types,
   .extra-services__card-section ul {
      width: 98%;
   }

   .about__concepts-item {
      min-width: none;
      max-width: none;
      width: 100%;
   }

   .extra-services__card-section ul {
      margin: 20px auto;
   }

   .extra-services__card {
      flex-wrap: wrap;
   }

   .extra-services__image,
   .extra-services__text-content,
   .extra-services__card:nth-child(2) .extra-services__image,
   .extra-services__card:nth-child(3) .extra-services__image {
      flex-basis: auto;
      width: 100%;
   }

   .extra-services__image {
      height: auto;
   }

   .features .container {
      margin: 0;
   }

   .features__card {
      padding: 5px;
   }

   .services__card {
      width: 320px;
   }

   .about-company {
      width: 100%;
   }

   .about .container {
      position: relative;
   }

   .about__introduction {
      position: absolute;
      width: 24%;
      height: 140px;
      top: 0;
      right: 0;
   }

   .about-company .title,
   .about-company .description {
      width: 73%;
      font-size: 1rem;
   }

   .services__section-subtitle {
      max-width: 250px;
   }

   .cta {
      padding: 0;
   }

   .cta__description {
      font-weight: 400;
   }

   .extra-services__introduction:last-of-type,
   .cta .section-title {
      margin: 60px auto 0;
   }

   .cta__subtitle {
      margin: 10px auto 20px;
   }

   .service-description .section-title {
      text-transform: uppercase;
      text-align: center;
      line-height: 1.1;
   }

   .service-description__image {
      border: 10px solid #ffffff;
      margin: 0 auto -16px;
      max-width: 80%;
      height: 280px;
   }

   .service-description__service-types {
      padding-top: 34px;
   }

   .cta__subtitle,
   .features__description p,
   .features .section-subtitle {
      max-width: 84%;
   }

   .cta-picture img {
      width: 33%;
      height: 120px;
   }

   .cta-picture img:nth-child(4),
   .cta-picture img:nth-child(5) {
      width: 49.5%;
   }

   .cta-picture {
      height: auto;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0;
   }

   .cta-button {
      padding: 1rem 2rem;
      font-size: 1rem;
   }

   .cta span.hyphen {
      display: contents;
   }
}

@media screen and (max-width: 424px) {
   .our-clients__article,
   .our-clients__gallery li.card {
      width: 330px;
   }
}

@media screen and (max-width: 340px) {
   .our-clients__article,
   .our-clients__gallery li.card,
   .features__description {
      width: var(--theme-sheet-width-xxs);
   }

   .header__title,
   .header__subtitle,
   .header__description {
      max-width: 100%;
   }

   .service-description .section-title,
   .features .section-title,
   .section-title {
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      width: auto;
   }

   .cta .section-title,
   .section-title,
   .header__title,
   .about .about__section-title {
      font-size: 2rem;
      line-height: 1.2;
   }

   .about__concepts .about__concepts-title {
      font-size: 1.6rem;
      line-height: 1.4;
   }

   .services__card {
      width: 300px;
      padding: 18px;
      min-height: auto;
   }

   .services__image {
      height: 200px;
   }
   .services__title {
      margin: 16px auto 10px;
   }
   .services-btn {
      margin: 0 auto 14px;
   }

   .services__card,
   .services__card-section ul {
      margin-top: 0;
   }
}
