@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;400&family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800;900&display=swap');

:root {
   --theme-sheet-width-xxl: 1920px;
   --theme-sheet-width-xl: 1140px;
   --theme-sheet-width-lg: 940px;
   --theme-sheet-width-md: 720px;
   --theme-sheet-width-sm: 560px;
   --theme-sheet-width-xs: 340px;
   --theme-sheet-width-xxs: 300px;
   --primary-color: #c64bde;
   --secondary-color: rgba(179, 94, 244, 1);
   --dark-primary-color: #764bde;
   --dark-secondary-color: #5955fa;
   --bright-bg-color: #f2f2f2;
   --middle-bg-color: #e8e8e8;
   --dark-bg-color: #1a1a1a;

   --silver-background: rgb(242, 242, 242);
   --silver-gradient-background: linear-gradient(
      150deg,
      rgba(242, 242, 242, 1) 0%,
      rgba(242, 242, 242, 1) 50%,
      rgba(250, 232, 225, 0.5411414565826331) 100%
   );
}

.u-body {
   --animation-fade_in-opacity: 0;
   --animation-fade_in_up-opacity: 0;
   --animation-fade_in_left-opacity: 0;
   --animation-fade_in_right-opacity: 0;
   --animation-fade_in_down-opacity: 0;
   --animation-fade_in_up_big-opacity: 0;
   --animation-fade_in_left_big-opacity: 0;
   --animation-fade_in_right_big-opacity: 0;
   --animation-fade_in_down_big-opacity: 0;
   --animation-fade_out-opacity: 0;
   --animation-fade_out_up-opacity: 0;
   --animation-fade_out_left-opacity: 0;
   --animation-fade_out_right-opacity: 0;
   --animation-fade_out_down-opacity: 0;
   --animation-fade_out_up_big-opacity: 0;
   --animation-fade_out_left_big-opacity: 0;
   --animation-fade_out_right_big-opacity: 0;
   --animation-fade_out_down_big-opacity: 0;
   --animation-rotate_in-rotate: -200deg;
   --animation-rotate_in_down_left-rotate: -45deg;
   --animation-rotate_in_down_right-rotate: 45deg;
   --animation-rotate_in_up_left-rotate: 45deg;
   --animation-rotate_in_up_right-rotate: -90deg;
   --animation-rotate_out-rotate: 200deg;
   --animation-rotate_out_down_left-rotate: 45deg;
   --animation-rotate_out_down_right-rotate: -45deg;
   --animation-rotate_out_up_left-rotate: -5deg;
   --animation-rotate_out_up_right-rotate: 90deg;
   --animation-roll_in-rotate: -120deg;
   --animation-roll_in-translate_x: -100%;
   --animation-roll_out-rotate: 120deg;
   --animation-roll_out-translate_x: 100%;
   --animation-zoom_in-scale: 0.3;
   --animation-zoom_in_down-scale: 0.475;
   --animation-zoom_in_down-translate_y: 60px;
   --animation-zoom_in_up-scale: 0.475;
   --animation-zoom_in_up-translate_y: -60px;
   --animation-zoom_in_left-scale: 0.475;
   --animation-zoom_in_left-translate_x: 10px;
   --animation-zoom_in_right-scale: 0.475;
   --animation-zoom_in_right-translate_x: -10px;
   --animation-zoom_out-scale: 0.3;
   --animation-zoom_out_down-scale: 0.475;
   --animation-zoom_out_down-translate_y: -60px;
   --animation-zoom_out_up-scale: 0.475;
   --animation-zoom_out_up-translate_y: 60px;
   --animation-zoom_out_left-scale: 0.475;
   --animation-zoom_out_left-translate_x: 42px;
   --animation-zoom_out_right-scale: 0.475;
   --animation-zoom_out_right-translate_x: -42px;
   --animation-slide_in_down-translate_y: -100%;
   --animation-slide_in_up-translate_y: 100%;
   --animation-slide_in_left-translate_x: -100%;
   --animation-slide_in_right-translate_x: 100%;
   --animation-slide_out_down-translate_y: 100%;
   --animation-slide_out_up-translate_y: -100%;
   --animation-slide_out_left-translate_x: -100%;
   --animation-slide_out_right-translate_x: 100%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-scale: 1;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-translate_x-end: 0;
   --animation-custom_in-translate_y-end: 0;
   --animation-custom_in-scale-end: 1;
   --animation-custom_in-opacity-end: 1;
}

/* animations css */

.animated {
   animation-duration: 1s;
   animation-fill-mode: both;
}

@keyframes customAnimationIn {
   from {
      transform-origin: center center;
      transform: translate3d(var(--animation-custom_in-translate_x), var(--animation-slide_in_up-translate_y), 0);
      opacity: var(--animation-custom_in-opacity);
   }
   to {
      transform-origin: center center;
      transform: translate3d(var(--animation-custom_in-translate_x-end), var(--animation-custom_in-translate_y-end), 0);
      opacity: var(--animation-custom_in-scale-end);
   }
}

.customAnimationIn {
   animation-name: customAnimationIn;
}

@keyframes customAnimationScale {
   from {
      transform-origin: center center;
      transform: translate3d(0, 0, 0)
         scale3d(var(--animation-zoom_in-scale), var(--animation-zoom_in-scale), var(--animation-zoom_in-scale))
         rotate3d(0, 0, 1, var(--animation-custom_in-rotate));
      opacity: var(--animation-custom_in-opacity);
   }
   to {
      transform-origin: center center;
      transform: translate3d(var(--animation-custom_in-translate_x-end), var(--animation-custom_in-translate_y-end), 0)
         scale3d(var(--animation-custom_in-scale), var(--animation-custom_in-scale), var(--animation-custom_in-scale))
         rotate3d(0, 0, 1, var(--animation-custom_in-rotate));
      opacity: var(--animation-custom_in-opacity-end);
   }
}

.customAnimationScale {
   animation-name: customAnimationScale;
}

@keyframes slideInLeft {
   from {
      transform: translate3d(var(--animation-slide_in_left-translate_x), 0, 0);
   }
   to {
      transform: translate3d(0, 0, 0);
   }
}

.slideInLeft {
   animation-name: slideInLeft;
}

@keyframes slideInRight {
   from {
      transform: translate3d(var(--animation-slide_in_right-translate_x), 0, 0);
   }
   to {
      transform: translate3d(0, 0, 0);
   }
}

.slideInRight {
   animation-name: slideInRight;
}

@keyframes slideInLeftRotate {
   from {
      transform-origin: center center;
      transform: translate3d(var(--animation-slide_in_left-translate_x), 0, 0) scale3d(1, 1, 1)
         rotate3d(0, 0, 1, var(--animation-rotate_in-rotate));
      opacity: var(--animation-custom_in-opacity);
   }
   to {
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate3d(0, 0, 1, var(--animation-rotate_out_up_left-rotate));
      opacity: var(--animation-custom_in-opacity-end);
   }
}

.slideInLeftRotate {
   animation-name: slideInLeftRotate;
}

.animated {
   will-change: transform, opacity;
   animation-duration: 1500ms;
}

.services__card.animated {
   opacity: 0;
   transform: translate3d(0, 0, 0);
}

.service-description__image.animated.slideInLeftRotate,
.service-description__service-types.animated.slideInRight,
.services__card.animated.customAnimationIn {
   opacity: 1;
   transition: 1s;
   /* transition: opacity 1s; */
}

.services__card.customAnimationIn:nth-of-type(2) {
   animation-delay: 250ms;
}

.services__card.customAnimationIn:nth-of-type(3) {
   animation-delay: 500ms;
}

.extra-services__card:nth-child(2) .extra-services__text-content.animated,
.icon.animated {
   transform: scale(0);
}

.icon.customAnimationScale {
   /* transform: scale(1); */
   transition: scale 1s;
}

/* animations css */

.red {
   color: red;
}

.green {
   color: #00ac00;
}

body {
   font-family: 'Arial', sans-serif;
   line-height: 1.6;
   font-size: 16px;
   margin: 0;
   padding: 0;
   position: relative;
}

.hidden {
   display: none !important;
}

/* top button styles */

.top-btn {
   display: none;
   position: fixed;
   bottom: 14px;
   right: 24px;
   border: none;
   outline: none;
   background-color: #3f3f3f;
   color: white;
   padding: 14px 10px 16px;
   min-width: 60px;
   width: auto;
   text-align: center;
   font-size: 2rem;
   text-decoration: none;
   cursor: pointer;
   border-radius: 2px;
   box-shadow: 0 0 0 0.1rem #3f3f3f;
   transition-duration: 0.5s;
   z-index: 99;
   opacity: 0.8;
   transform: scale(0.6);
}

.top-btn:hover {
   opacity: 1;
   background-color: #565656;
   transform: scale(0.7);
}

/* ------- feedback-wrapper ------ */

.feedback-wrapper {
   display: block;
   position: fixed;
   top: 50%;
   left: 50%;
   width: 400px;
   padding: 40px;
   transform: translate(-50%, -50%);
   background: var(--dark-bg-color);
   opacity: 0.95;
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
   border-radius: 10px;
   transition-duration: 1s;
   z-index: 1;
}

.feedback-wrapper.fadeout:hover,
.feedback-wrapper.fadeout {
   opacity: 0;
   transition-duration: 1s;
   visibility: hidden;
}

.feedback-wrapper .message {
   min-height: 20px;
   height: 20px;
   margin: 16px 0 -16px;
}

.feedback-wrapper:hover {
   opacity: 1;
}

.feedback-wrapper .btn-close {
   display: block;
   border: none;
   background: transparent;
   cursor: pointer;
}

.feedback-wrapper .icon.close {
   position: absolute;
   display: block;
   fill: #ffffff9f;
   right: 20px;
   top: 20px;
   width: 28px;
   height: 28px;
   transition-duration: 0.3s;
}

.feedback-wrapper .icon.close:hover {
   fill: var(--primary-color);
}

.feedback-wrapper .label {
   margin: 30px 0;
   padding: 0;
   color: #fff;
   text-align: center;
}

.feedback-wrapper .user-box {
   position: relative;
}

.feedback-wrapper .user-box textarea,
.feedback-wrapper .user-box input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}

.feedback-wrapper .user-box textarea:placeholder-shown ~ label,
.feedback-wrapper .user-box label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: 0.5s;
}

.feedback-wrapper .user-box textarea:focus ~ label,
.feedback-wrapper .user-box textarea ~ label,
.feedback-wrapper .user-box input:focus ~ label,
.feedback-wrapper .user-box input:valid ~ label {
   top: -20px;
   left: 0;
   color: var(--primary-color);
   font-size: 12px;
}

.feedback-wrapper form .btn-submit {
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   color: var(--primary-color);
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: 0.5s;
   margin-top: 30px;
   letter-spacing: 4px;
   border: none;
   background: transparent;
}

.feedback-wrapper form .btn-submit:disabled {
   background: #b4b4b4;
   background: gray;
   color: #000;
   cursor: default;
   box-shadow: none;
   border-radius: 5px;
}

.feedback-wrapper form .btn-submit:disabled span {
   animation: none;
}

.feedback-wrapper .btn-submit:hover {
   background: var(--primary-color);
   color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px var(--primary-color), 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
      0 0 100px var(--primary-color);
}

.feedback-wrapper .btn-submit:active {
   box-shadow: 0 0 25px var(--primary-color);
   color: #d1d1d1;
}

.feedback-wrapper .btn-submit span {
   position: absolute;
   display: block;
}

.feedback-wrapper .btn-submit span:nth-child(1) {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, transparent, var(--primary-color));
   animation: btn-anim1 6s linear infinite;
}

@keyframes btn-anim1 {
   0% {
      left: -100%;
   }
   50%,
   100% {
      left: 100%;
   }
}

.feedback-wrapper .btn-submit span:nth-child(2) {
   top: -100%;
   right: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(180deg, transparent, var(--primary-color));
   animation: btn-anim2 6s linear infinite;
   animation-delay: 1.5s;
}

@keyframes btn-anim2 {
   0% {
      top: -100%;
   }
   50%,
   100% {
      top: 100%;
   }
}

.feedback-wrapper .btn-submit span:nth-child(3) {
   bottom: 0;
   right: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg, transparent, var(--primary-color));
   animation: btn-anim3 6s linear infinite;
   animation-delay: 3s;
}

@keyframes btn-anim3 {
   0% {
      right: -100%;
   }
   50%,
   100% {
      right: 100%;
   }
}

.feedback-wrapper .btn-submit span:nth-child(4) {
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg, transparent, var(--primary-color));
   animation: btn-anim4 6s linear infinite;
   animation-delay: 4.5s;
}

@keyframes btn-anim4 {
   0% {
      bottom: -100%;
   }
   50%,
   100% {
      bottom: 100%;
   }
}

/* --/ feedback-wrapper  */

.container {
   width: var(--theme-sheet-width-xl);
   padding: 1px 0;
   margin: 0 auto;
}

.header__navbar,
.header__content,
.services__card-section ul,
.services__card,
.extra-services__card-section ul,
.extra-services__card,
.header__content-section,
.features__card,
.cta-picture,
.cta,
.features__subtitle,
.card__description,
.our-clients__gallery .card__content,
.service-description .container,
.about article,
.about__concepts,
.service-description,
.about__concepts-item > div,
.fb-posts,
.nav-menu,
.nav-menu__list {
   display: flex;
}

header,
.extra-services__image,
.services::after,
.services__image,
.about__introduction,
.about .icon,
.service-description__service-types ul li::before,
.our-clients__article,
.features__background-image,
.cta-button {
   display: block;
}

.header__content,
.cta,
.features__card,
.our-clients__gallery .card__content,
.about__concepts,
.services__card {
   flex-direction: column;
}

.features__subtitle,
.heading,
.section-title,
.about .section-title {
   text-transform: uppercase !important;
}

.text-large {
   font-size: 3.75rem; /* 60px font size  */
}

h1,
.header__title {
   font-size: 2.625rem; /* 42px font size  */
}

h2,
h3,
.section-title,
.about .section-title {
   font-size: 2.25rem; /* 36px font size  */
}

.features h3 {
   font-size: 2rem; /* 32px font size  */
}

h4,
h5,
.about__concepts .about__concepts-title {
   font-size: 1.875rem; /* 30px font size  */
}

.header__subtitle {
   font-size: 1.625rem; /* 26px font size  */
}

h6 {
   font-size: 1.5rem; /* 24px font size  */
}

.extra-services__introduction,
.features__card-title,
.services__title,
.extra-services__description,
.our-clients > p,
.card__description p,
.features__description p {
   font-size: 1.375rem; /* 22px font size  */
}

.about-company .title,
.header__description,
.services__section-subtitle,
.cta__description,
.section-subtitle {
   font-size: 1.125rem; /* 18px font size  */
}

.features__subtitle,
.services__card,
.services__description,
.about p,
.about-company .label,
.about-company .description,
.about__concepts p,
.about__concepts-item p,
.card__description h5,
.features__card,
.features__text p,
.extra-services__card,
.extra-services__footer,
.extra-services__footer a,
.service-description__service-types h4,
.nav-menu__item a {
   font-size: 1rem; /* 16px font size  */
}

.about .title,
.service-description h4,
.heading,
.section-title,
.about .section-title {
   font-family: 'Raleway', sans-serif;
}

.cta__description,
.about__concepts p,
.about .label,
.section-subtitle,
.our-clients,
.our-clients .section-subtitle,
.our-clients h3,
.our-clients,
.about-company p,
.services__title,
.about__concepts .about__concepts-title,
.about .ection-title,
.features__card-title,
.service-description,
.cta-button,
.about .description,
.about__concepts-item p,
.about .text,
.services__description {
   font-family: 'Montserrat', sans-serif;
}

.about__concepts-item > div > p:nth-of-type(1),
.footer-section .label,
.features__description p,
.extra-services__description,
.card__description h5,
.nav-menu__item a {
   font-family: 'Open Sans', sans-serif;
}

.features__subtitle,
.footer-section .text,
.features__text p {
   font-family: 'AR One Sans', sans-serif;
}

.about__concepts-item > div > p:nth-of-type(2),
.card__description p,
.extra-services__title,
.footer-section.logo .text {
   font-family: 'Roboto', sans-serif;
}

.features__subtitle,
.our-clients,
.our-clients h3,
.our-clients p,
.our-clients .section-subtitle {
   line-height: 1.4;
}

header,
.service-description,
.card__description,
.prev-btn:hover,
.next-btn:hover,
.features__subtitle,
.cta-button,
.extra-services__card:nth-child(3),
.extra-services__card:nth-child(2),
.extra-services__footer,
.extra-services__footer a {
   color: #ffffff;
}

.section-title,
.services__section-subtitle a,
.services__section-subtitle,
.about-company .description,
.about-company p,
.features h3,
.extra-services__card:nth-child(1),
footer .container {
   color: #000;
}

.services__image img,
.header__background-image img,
.header__background-image,
.service-description__backgroung,
.card__picture,
.card__picture img,
.service-description__backgroung img,
.features__image img,
.extra-services__image img,
.about .icon img {
   width: 100%;
   height: 100%;
}

.services::after,
.service-description__backgroung,
.header__background-image,
.service-description__service-types ul li::before,
ol.our-clients__gallery,
.card__picture,
.card__description,
.prev-btn,
.next-btn,
.features__background-image {
   position: absolute;
}

.header__content-section,
.header__content,
.services,
.service-description,
.service-description__service-types ul li,
.our-clients,
.our-clients .container,
.our-clients__article,
.our-clients__gallery li.card,
.features {
   position: relative;
}

/* ------------ header-content -------- */

header {
   padding: 1rem;
   text-align: center;
   padding: 0;
}

header,
.header__navbar,
.services__card,
.features__card,
.extra-services__card,
.cta,
.our-clients,
.extra-services {
   background: #fff;
}

h1 {
   font-size: 2.5rem;
}

.header__navbar {
   height: 4.5rem;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 100%;
}

.header__content-section {
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: #333;
   overflow: hidden;
}

.header__background-image {
   opacity: 0.78;
   overflow: hidden;
}

.header__background-image img {
   object-fit: cover;
   object-position: center;
}

.header__content {
   box-sizing: border-box;
   min-height: 460px;
   align-items: baseline;
   margin: 60px 0;
   text-align: left;
   background-color: #00000060;
   padding: 0 20px;
}

.header-picture {
   display: block;
   box-sizing: border-box;
   content: '';
   position: absolute;
   width: 56%;
   height: 64%;
   right: 40px;
   bottom: 40px;
}

.header-picture img {
   width: 100%;
   height: 100%;
   border-radius: 5px;
   object-position: center;
   object-fit: cover;
}

.header__navbar_company-logo {
   height: 52%;
   margin: auto 0;
   cursor: pointer;
}

.header__navbar_company-logo img {
   height: 100%;
   width: auto;
}

.header__navbar_social {
   height: 36%;
   margin: auto 0;
}

.header__navbar a,
.header__navbar_social a {
   cursor: pointer;
   text-decoration: none;
   margin-right: 0.4rem;
}

.header__navbar_social img {
   display: inline-block;
   height: 100%;
   width: auto;
}

.header__title,
.header__description,
.header__button {
   z-index: 1;
}

.header__title {
   line-height: 2.8rem;
   max-width: 70%;
   font-weight: 600;
   margin-top: 40px;
   margin-bottom: 30px;
   word-wrap: normal;
   white-space: normal;
}

.header__subtitle {
   line-height: 1.2;
   font-weight: 400;
   max-width: 40%;
}

.header__description {
   max-width: 40%;
}

.header__description ul {
   list-style-type: none;
   padding-left: 0;
}

.header__description ul li {
   display: flex;
   align-items: flex-start;
}

.header__description ul li p {
   margin: 0 0 5px 10px;
   line-height: 1.4rem;
}

.header .cta-button {
   margin-left: 0;
}

.nav-menu {
   height: 100%;
}

.nav-menu__list {
   padding-left: 0;
   list-style-type: none;
   align-items: center;
}

.nav-menu__item {
   display: block;
   padding: 0 10px;
   margin: 0 5px;
}

.header {
   position: relative;
}

.header__navbar.container {
   box-sizing: border-box;
   background: #fff;
   z-index: 1;
}

.nav-menu__item a {
   transition-duration: 300ms;
   color: #5e5e5e;
   margin: 0 auto;
}

.nav-menu__item:hover a {
   color: var(--secondary-color);
}

/* --/ header-content */

/* ------------ body-content -------- */
/* ------------ body __ services-content -------- */

.services {
   background: rgb(255, 255, 255);
   min-height: 870px;
   z-index: 0;
}

.services::after {
   content: '';
   top: 38%;
   left: 0;
   width: 100%;
   height: 320px;

   /* background-color: rgba(179, 94, 244, 1); */
   background-color: rgb(198, 75, 222);
   z-index: -1;
}

.services__content {
   text-align: center;
   margin: 0 auto;
}

.section-subtitle {
   text-align: start;
}

.technologies .section-subtitle {
   text-align: center;
}

.services__section-subtitle a:hover {
   color: #452a70;
}

.services__section-subtitle {
   margin: 0 auto;
   font-weight: 400;
}

.services__card-section ul {
   margin: 57px 0 300px;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   width: 100%;
   padding-left: 0;
}

.services__card {
   align-items: center;
   list-style-type: none;
   cursor: default;
   width: 340px;
   /* min-height: 578px; */
   min-height: 178px;
   height: auto;
   flex-grow: 0;
   text-align: justify;
   padding: 30px;
   /* padding: 24px; */
   margin: 0;
   box-sizing: border-box;
   color: #111111;
   line-height: 1.5rem;
   overflow: hidden;
   text-align: center;
   border: 1px solid rgba(198, 75, 222, 0.233);
   border-style: outset;
   box-shadow: 4px 5px 30px rgba(79, 29, 88, 0.15);
}

/* .services__card:hover {
   scale: 1.05;
} */

.services__card:nth-child(2) {
   margin-top: 120px;
   margin-bottom: -120px;
}

.services__card:nth-child(3) {
   margin-top: 240px;
   margin-bottom: -240px;
}

.services__image {
   width: 100%;
   height: 240px;
   overflow: hidden;
   border-radius: 4px;
}

.services__title {
   font-size: 1.25rem; /* 20px font size  */
   font-weight: 400;
   line-height: 1.4;
   text-transform: uppercase;
   margin: 30px auto 14px;
}

.services__description {
   text-align: center;
   line-height: 1.6rem;
   margin-top: 0;
   margin-bottom: 20px;
}

.services-btn {
   border-style: none none solid;
   border-width: 1px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin: auto auto 40px;
   padding: 6px 8px;
   background: transparent;
   cursor: pointer;
}

.services-btn:hover {
   border-color: rgba(179, 94, 244, 1);
   transition-duration: 0.1s;
}

.services__footer {
   margin: 39px auto 60px;
}

.services__footer .services__section-subtitle a {
   letter-spacing: 1px;
   padding: 0 0 4px;
   text-decoration: none;
   border-bottom: 1px solid #000;
}

/* --/ services-content */

/* ------------ body __ about -------- */

.about {
   padding: 0;
   border-top: 1px solid rgb(233, 224, 224);
   line-height: normal;
   background: rgb(198, 75, 222);
   background: linear-gradient(
      0deg,
      rgba(198, 75, 222, 1) 0%,
      rgba(198, 75, 222, 1) 39%,
      rgba(229, 229, 229, 1) 39%,
      rgba(229, 229, 229, 1) 100%
   );
   /* background: var(--middle-bg-color); */
}

/* .about__concepts {
   flex-wrap: wrap;
} */

.about__concepts .about__concepts-title {
   line-height: 1.1;
   text-align: center;
   width: 100%;
   margin-top: 40px;
   margin-bottom: 30px;
}

.about__concepts-item > div {
   flex-wrap: wrap;
   /* rgba(229, 229, 229, 1) 100% */
}

.about__concepts-item > div > p {
   width: 70%;
   /* min-height: 3rem; */
}

.about__concepts-item > div > p:first-of-type {
   width: 25%;
   font-size: 2.3rem;
   margin: 10px 8px 0 0;
   letter-spacing: -1px;
   font-weight: 400;
   white-space: nowrap;
}

.about__concepts-item > div > p:last-of-type {
   margin: 0 auto;
   width: 100%;
   /* color: #000000; */
   color: #ffffff;
   flex-wrap: wrap;
   padding-left: 28%;
   font-weight: 300;
}

.about .section-title {
   text-transform: none;
   font-weight: 700;
   text-align: center;
}

.about .container {
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content: center;
   gap: 30px;
   margin-top: 30px;
}

.about-company,
.about__introduction {
   width: 46%;
   box-sizing: border-box;
}

.about__introduction {
   height: auto;
   overflow: hidden;
   margin: 0;
   border-radius: none;
   position: relative;
   box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   height: 520px;
   /* border: 8px solid #d4d4d4; */
   /* padding: 0px 0px 20% 0px; */
}

.about__introduction img {
   position: absolute;
   width: 130%;
   height: 130%;
   bottom: -20%;
   left: -20%;
   object-fit: cover;
   /* object-position: center bottom; */
}

.nowrap {
   white-space: nowrap;
}

.about-company ul {
   padding: 0;
   margin: 0;
}

.about .description,
.about .text {
   margin: 0;
   font-size: 1rem;
   text-align: left;
   text-decoration: none;
   line-height: 1.4;
   letter-spacing: normal;
}

.about-company {
   /* padding-top: 30px; */
   padding-left: 30px;
   padding-right: 8px;
}

.about-company p:first-of-type:not(.text) {
   margin-top: 0;
}

.about-company p {
   margin-top: 20px;
}

.about-company .title {
   font-weight: 600;
}

.about-company .title,
.about-company .label {
   margin: 0;
   line-height: 1.4;
   margin-bottom: 10px;
}

.about-company .label {
   margin: 20px 0 5px;
}

.about-company ul li {
   list-style-type: '-';
   padding-left: 10px;
   margin-left: 10px;
}
/* .about-company b {
   font-weight: 500;
} */

/* .about-company q, */
.about-company b,
.about-company strong {
   font-weight: 600;
}

.about__concepts {
   margin-top: 30px;
   gap: 0;
   width: 100%;
   flex-direction: row;
   justify-content: center;
}

.about__concepts-item {
   padding: 10px 30px;
   line-height: 1.4;
   list-style-type: none;
   margin: 0;
   width: 22%;
}

.about .icon {
   width: 100%;
   height: 200px;
   text-align: center;
   margin: 0 auto 4px;
   overflow: hidden;
}

/* svg icons change from images */

.about .icon {
   width: 160px;
   height: 160px;

   display: flex;
   justify-content: center;
   align-items: center;
   /* margin: auto; */
}

.icon svg {
   width: 120px;
   height: 120px;
}
.about__concepts-item:last-of-type svg {
   width: 140px;
   height: 140px;
}

.about__concepts-item:nth-of-type(2) svg {
   width: 108px;
   height: 108px;
}

.about .icon svg path {
   /* fill: #434343; */
   fill: #ffffff9f;
}

.about .icon img {
   object-fit: cover;
   object-position: center;
   filter: brightness(1.11) contrast(0.74);
   transition: 900ms;
}

.about .icon:hover img {
   filter: brightness(1) contrast(1);
}

/* ------------ body __ service-description -------- */

.service-description {
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   overflow: hidden;
   padding: 0 0 80px;
   background: rgb(198, 75, 222);
   background: linear-gradient(
      180deg,
      rgba(198, 75, 222, 1) 0%,
      rgba(198, 75, 222, 1) 42%,
      rgba(229, 229, 229, 1) 42%,
      #f2f2f2 100%
   );
}

.service-description__backgroung {
   bottom: 0;
   display: none;
}

.service-description__backgroung img {
   opacity: 0.4;
   object-fit: cover;
   object-position: left center;
}

.service-description .container {
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;
   text-align: center;
   z-index: 1;
}

.service-description .section-title {
   margin-bottom: 0px;
   width: 100%;
   color: #ffffff;
   white-space: nowrap;
   /* font-weight: 600; */
}

.service-description__service-types {
   box-sizing: border-box;
   width: 50%;
   text-align: left;
   background-color: rgb(77, 77, 77);
   border: 0;
   border-right: 18px;
   border-color: rgb(198, 75, 222);
   border-style: solid;
   box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.08);
}

.service-description__service-types.animated {
   transform: translate3d(var(--animation-slide_in_right-translate_x), 0, 0);
   opacity: 0;
}

.service-description__service-types h4 {
   margin: 20px 25px;
   padding-left: 50px;
   padding-left: 14px;
   padding-left: 0;
}

.service-description__service-types ul li svg {
   width: 24px;
   height: 24px;
   display: block;
}

.service-description__service-types ul {
   padding: 0 10px 0 30px;
}

.service-description__service-types ul li {
   display: flex;
   width: 94%;
   list-style-type: none;
   flex-direction: row;
   margin: 10px 0;
   padding: 0;
   gap: 20px;
}

.service-description__service-types p,
.service-description__service-types .icon {
   display: block;
   margin: 0 auto auto;
}

.service-description__service-types h4 {
   font-weight: normal;
   text-transform: uppercase;
}

.service-description__image {
   height: 450px;
   border: 10px solid #ffffff;
   box-sizing: border-box;
   width: 30%;
   overflow: hidden;
   transform: rotate(-5deg);
   margin: 14px 40px -10px 20px;
   box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.04);
   /* border-style: outset; */
}

.service-description__image img {
   height: 100%;
   width: auto;
   min-width: 100%;
}

.service-description__image.animated {
   transform: translate3d(var(--animation-slide_in_left-translate_x), 0, 0) scale3d(1, 1, 1)
      rotate3d(0, 0, 1, var(--animation-rotate_in-rotate));
   opacity: 0.2;
}

/* --/ service-description */

/* ------------ body __ our-clients-description -------- */

.our-clients {
   padding: 0 0 60px;
   text-align: left;
   min-height: 800px;
   background: var(--bright-bg-color);
}

.section-title,
.about .section-title,
.our-clients .section-title {
   margin: 70px auto 20px;
}

.our-clients,
.our-clients h3,
.our-clients p,
.our-clients .section-subtitle {
   width: 100%;
   line-height: 1.4;
   margin: 0;
   font-weight: 400;
}

.section-subtitle.inline {
   display: inline;
}

.our-clients .section-title,
.section-title {
   font-weight: 700;
   text-align: center;
}

.our-clients > p {
   line-height: 1.4;
   max-width: 40%;
   margin: 40px auto 0;
}

.our-clients__article,
.our-clients__gallery li.card {
   width: 689px;
   height: 475px;
   padding: 0;
}

.our-clients__article {
   box-sizing: border-box;
   overflow: hidden;
   margin: auto;
   margin-top: 40px;
   box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

ol.our-clients__gallery {
   display: inline-flex;
   width: auto;
   padding: 0;
   margin: 0;
   left: 0;
   transition: 1s;
}

.our-clients__gallery li.card {
   display: inline-block;
   box-sizing: border-box;
   margin: 0;
   overflow: hidden;
}

.our-clients__gallery .card__content {
   width: 66%;
   height: 100%;
   justify-content: center;
}

.card__picture {
   left: 0;
}

.card__picture img {
   object-fit: cover;
}

.card__description {
   flex-direction: column-reverse;
   width: 100%;
   height: 100px;
   align-items: center;
   justify-content: center;
   background: #1a1a1a;
   left: 0;
   bottom: 0;
   padding: 20px 0;
}

.card__description h5,
.card__description p {
   width: 80%;
   margin: 0 auto;
}

.card__description h5 {
   font-weight: normal;
   line-height: 1.6;
   margin-top: 6px;
}

.card__description p {
   line-height: 1.2;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.prev-btn,
.next-btn {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
   /* bottom: 310px; */
   bottom: 28%;
   border: none;
   background-color: #4d4d4d;
}

.prev-btn svg,
.next-btn svg {
   fill: #fff;
   width: 70%;
   height: 70%;
   padding: 6px 0;
}

.prev-btn svg {
   padding-right: 3px;
}
.next-btn svg {
   padding-left: 3px;
}

.prev-btn {
   left: 15%;
}

.next-btn {
   right: 15%;
}

.prev-btn:hover,
.next-btn:hover {
   background-color: #1a1a1a;
}

/* --/ our-clients-description */

/* ------------ body __ features and fails section -------- */

.features {
   text-align: center;
   padding: 0 0 60px;
   z-index: 0;
   overflow: hidden;
   /* background: var(--bright-bg-color); */
   background: rgb(242, 242, 242);
   background: linear-gradient(
      180deg,
      rgba(242, 242, 242, 1) 0%,
      rgba(242, 242, 242, 1) 86%,
      rgba(255, 255, 255, 1) 86%
   );
}

.features__background-image {
   width: 100%;
   /* height: 100%; */
   height: auto;
   top: 38.5%;
   /* top: 40%; */
   bottom: 130px;
   z-index: -1;
   overflow: hidden;
}

.features__background-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: right top;
   /* object-position: left bottom; */
   /* object-position: left top; */
   filter: grayscale(1);
   opacity: 0.64;
}

.our-clients h3,
.our-clients p,
.features p {
   line-height: 1;
}

.our-clients p a {
   color: #000;
   padding-left: 0px;
}

.features .section-subtitle b {
   font-weight: 600;
}

.features-label {
   display: flex;
   flex-direction: column;
   width: 1140px;
   margin: 20px auto;
   /* background: #fff; */
}

.features__subtitle {
   width: 240px;
   width: 260px;
   height: 50px;
   color: #000;
   align-items: center;
   margin: 0;
   z-index: 999;
   padding: 0 10px;
   padding-left: 20px;
   background: #e5e5e5;
}

.features__subtitle::before {
   display: block;
   content: url('../images/icons/close.svg');
   color: #fff;
   width: 20px;
   height: 20px;
   padding-bottom: 3px;
   margin-right: 12px;
}
.features__subtitle:last-of-type::before {
   content: url('../images/icons/done-all.svg');
}

.features__subtitle:last-of-type {
   background: #fff;
}

.section-subtitle,
.features .section-subtitle {
   line-height: 1.4;
   max-width: var(--theme-sheet-width-xl);
   font-weight: 400;
   margin: 0 auto;
}

/* #Dribbble-Light-Preview, */
.header__description svg {
   width: 24px;
   height: 24px;
}

.header__description svg g {
   fill: #764bde;
}

.features__description {
   max-width: var(--theme-sheet-width-xl);
   margin: 40px auto 20px;
   text-align: start;
}

.features__description p {
   font-weight: 600;
   text-align: center;
   line-height: 2rem;
}

.features h3 {
   width: 100%;
   text-align: center;
}

.features .container {
   margin-top: 40px;
   display: grid;
   /* width: 876px; */
   /* grid-template-columns: 50% 50%; */
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 2px;
   box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.015);
}

.features__card {
   justify-content: start;
   align-items: center;
   text-align: center;
   color: #111111;
   padding: 30px;
   margin-bottom: 0;
}

.features .icon {
   display: block;
   min-height: 24px;
   min-width: 24px;
   margin-right: 4px;
}

.icon.close {
   fill: orangered;
}

.icon.done {
   fill: var(--dark-secondary-color);
}

.features__card:nth-child(2),
.features__card:nth-child(3),
.features__card:nth-child(6),
.features__card:nth-child(7),
.features__card:nth-child(10) {
   /* background-color: var(--bright-bg-color); */
   /* background-color: var(--middle-bg-color); */
}

.features__card-title {
   line-height: 1.2;
   font-weight: 400;
   margin: 20px auto;
}

.features__text {
   width: 100%;
   text-align: center;
   /* margin: 0 auto; */
}

.features__text p {
   line-height: 1.4;
   padding: 0;
   margin: 0 auto auto 0;
   font-weight: 300;
   width: content;
   text-align: left;
}

.features__text li {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   list-style: none;
   padding-left: 20px;
}

.features__card.bad {
   background: #e5e5e5;
}

.features__card.bad .features__image {
   border-right: 6px solid rgb(216, 69, 112);
   border-bottom: 6px solid rgb(216, 69, 112);
}

.features__card.good .features__image {
   border-right: 6px solid var(--dark-primary-color);
   border-bottom: 6px solid var(--dark-primary-color);
}

.features__image {
   border-top: 5px solid #000000a4;
   border-left: 5px solid #00000095;
   box-sizing: border-box;
   width: 120px;
   height: 120px;
   margin: 0 auto;
   overflow: hidden;
   border-radius: 50%;
}

.features__image img {
   object-fit: cover;
}

/* --/ features and fails section */

.cta {
   align-items: center;
   padding: 0 0 40px;
   justify-content: center;
   padding-bottom: 80px;
}

.cta .container {
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
}

.cta span.hyphen {
   display: none;
}

.cta__subtitle {
   font-size: 2.4rem;
   line-height: 2.6rem;
   font-weight: 400;
   letter-spacing: normal;
}

.cta__gallery {
   display: block;
   width: 60%;
   height: 100%;
   padding: 20px;
   position: relative;
   margin: auto 0;

   border: 1px solid rgba(213, 213, 213, 0.41);
   box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.01);
}

.slider-pagination {
   position: absolute;
   width: fit-content;
   height: fit-content;
   bottom: -44px;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.slider-pagination .slider-pagination__list {
   margin: 0;
   width: auto;
}

.circle {
   margin: 0 1px;
   border: 2px solid #fff;
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: lightgray;
   cursor: pointer;
}

.circle.active {
   background: #333;
}

.cta__slider {
   display: block;
   width: 100%;
   height: 400px;
   overflow: hidden;
}

.cta__slider img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center center;
   -webkit-transition: -webkit-transform 1s ease-in-out;
   transition: transform 1s ease-in-out;
}

.cta__slider img:hover {
   object-position: left center;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
}

.cta__description {
   display: block;
   padding: 34px 20px;
   width: 240px;
   height: fit-content;
   background-color: var(--primary-color);
   margin: 0;
   box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.cta .cta__description .section-title {
   margin: 0;
   line-height: 1.4;
   text-transform: none !important;
   text-align: left;
   background: transparent;
   font-weight: 700;
   color: #fff;
}

.cta__description p {
   line-height: 1.4;
   font-weight: 400;
   color: #fff;
   margin: 5px 0;
}

.cta .section-subtitle {
   margin: 0px;
   width: 1140px;
   text-align: center;
}

.cta .section-title,
.cta .section-subtitle {
   color: #333;
   background: rgba(255, 255, 255, 0.95);
}

.cta__submit-section p::before,
.cta__submit-section p::after {
   position: absolute;
   display: block;
   content: '';
   height: 100%;
   width: 100%;
   border-left: 2px solid lightgray;
   z-index: 999;
   padding: 20px;
   bottom: -20px;
   left: 0;
}
/* .cta__submit-section p:last-of-type::after {
   border-right: 2px solid lightgray;
   right: 0;
} */

.cta__submit-section p {
   position: relative;
   padding: 0 30px;
   color: #fff;
   text-align: left;
   vertical-align: middle;
   margin: auto;
}

.cta__submit-section p:first-of-type {
   font-size: 24px;
   line-height: 1;
}

.cta__submit-section {
   box-sizing: border-box;
   display: grid;
   width: 1140px;
   margin: 40px 0 0;
   grid-template-columns: 22% 50% 26%;
   grid-template-rows: 100px;
   padding: 20px 40px;
   background: var(--dark-primary-color);
}

.cta__submit-section .consult-btn {
   font-size: 0.75rem;
   margin: auto;
   margin-right: 0;
   padding: 10px 20px;
   font-weight: 600;
   background-color: var(--dark-primary-color);
   color: #ffffff;
   border: 2px solid #fff;
}
.cta__submit-section .consult-btn:hover {
   background-color: #ffffff;
   color: var(--dark-bg-color);
}

.cta-picture {
   width: 100%;
   height: 200px;
   margin: 30px 0 40px;
   overflow: hidden;
}

.cta-picture img {
   width: 20%;
   height: 100%;
   object-fit: cover;
}

.cta .cta-button {
   font-size: 0.8rem;
}

.cta-button {
   margin: 30px auto 20px;
   padding: 0.8rem 1.6rem;
   background-color: var(--dark-primary-color);
   font-size: 1rem;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.cta-button:hover {
   background-color: #5736a3;
}

.header,
.services,
.about,
.service-description,
.our-clients,
.features,
.cta,
.extra-services,
footer .container {
   margin: 0 auto;
}

footer {
   background-color: rgb(77, 77, 77);
   border-top: 1px solid #562e7511;
}

footer .container {
   display: grid;
   box-sizing: border-box;
   grid-template-columns: 1.6fr 2fr 2fr 2fr;
   grid-template-rows: 1fr;
   gap: 30px;
   padding: 2.5rem 0;
   color: #fff;
}

.footer-section {
   display: block;
   font-size: 1.2rem;
   margin: 0 auto auto 0;
   text-align: left;
}

.footer-section.logo {
   text-align: left;
}

.footer-section .label {
   height: 2rem;
}

.footer-section.logo img {
   height: 110px;
   width: auto;
   object-fit: contain;
   margin: 1rem 0 auto;
}

.footer-section ul {
   list-style-type: none;
   padding-left: 0;
   cursor: default;
}

.footer-section .text {
   font-size: 0.94rem;
   color: var(--middle-bg-color);
   margin: 6px 0;
}

.footer-section .text:hover {
   color: #fff;
}

/* ------------ body __ extra-services-content -------- */

.extra-services {
   padding-top: 60px;
   padding-bottom: 60px;
   /* background: var(--dark-bg-color); */
   background: var(--middle-bg-color);
   /* background: rgba(18, 18, 18, 0.934); */
   /* padding: 40px 0;
   background-image: url('../images/pictures/engineers-discuss-blueprint-while-checking-information-tablet-computer.jpg');
   width: 100%;
   background-size: cover;
   background-position: center;
   background-blend-mode: hue; */
}

.extra-services__introduction {
   color: #000;
   line-height: 1.4;
   font-weight: 400;
   max-width: 80%;
   margin: 0 auto;
   text-align: center;
}

.extra-services__introduction:last-of-type {
   width: 100%;
   margin-top: 80px;
}

.extra-services__content {
   text-align: center;
   margin: 0 auto;
}

.extra-services__card-section ul {
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
   gap: 0;
   margin: 50px auto;
   padding-left: 0;
}

.extra-services__text-content {
   flex-basis: 50%;
   flex-grow: 1;
   height: 100%;
   animation-duration: 2000ms;
}

.extra-services__card:nth-child(1) .extra-services__text-content {
   background: yellow;
}

.extra-services__card:nth-child(2) .extra-services__image.animated {
   animation-delay: 700ms;
}
.extra-services__card:nth-child(3) .extra-services__image.animated {
   animation-delay: 400ms;
   animation-duration: 2200ms;
}

.extra-services__card:nth-child(2) .extra-services__text-content {
   background: darkblue;
}

.extra-services__card:nth-child(2) .extra-services__text-content.animated.customAnimationScale {
   transition: scale 2s;
   animation-delay: 800ms;
   transition-delay: 800ms;
}

.extra-services__card:nth-child(3) .extra-services__text-content {
   animation-duration: 3000ms;
   background: orangered;
}

.extra-services__card:nth-child(1) {
   flex-direction: row-reverse;
   text-align: start;
}

.extra-services__card:nth-child(2) {
   text-align: left;
}

.extra-services__card:nth-child(2) .extra-services__image,
.extra-services__card:nth-child(3) .extra-services__image {
   flex-basis: 50%;
}

.extra-services__card:nth-child(3) {
   text-align: start;
}

.extra-services__card {
   box-sizing: border-box;
   width: 100%;
   height: 310px;
   line-height: 1.5rem;
   align-items: center;
   list-style-type: none;
   text-align: center;
   text-align: justify;
   color: #111111;
   cursor: default;
   overflow: hidden;
   padding: 0;
   margin: 0;

   background: transparent;
}

.extra-services__image {
   flex-basis: 50%;
   height: 100%;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.extra-services__image img {
   object-fit: cover;
   object-position: center;
}

.extra-services__title {
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 2rem;
   text-transform: uppercase;
   margin: 32px auto 20px;
}

.extra-services__title,
.extra-services__description {
   padding: 0 40px;
}

.extra-services__description {
   line-height: 1.8rem;
   margin-top: 0;
}

.extra-services__footer {
   margin: 39px auto 60px;
}

.extra-services__footer,
.extra-services__footer a {
   line-height: 1.6;
   font-weight: 400;
}

/* --/ extra-services-content */
