@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;400&family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800;900&display=swap');

@import './variables.css';
@import './theme/palette-1/light.css';

:root {
   --primary: rgb(104 84 142);
   --surface-tint: rgb(104 84 142);
   --on-primary: rgb(255 255 255);
   --primary-container: rgb(235 221 255);
   --on-primary-container: rgb(35 15 70);
   --secondary: rgb(99 91 112);
   --on-secondary: rgb(255 255 255);
   --secondary-container: rgb(233 222 248);
   --on-secondary-container: rgb(31 24 43);
   --tertiary: rgb(141 74 93);
   --on-tertiary: rgb(255 255 255);
   --tertiary-container: rgb(255 217 225);
   --on-tertiary-container: rgb(58 7 26);
   --error: rgb(186 26 26);
   --on-error: rgb(255 255 255);
   --error-container: rgb(255 218 214);
   --on-error-container: rgb(65 0 2);
   --background: rgb(254 247 255);
   --on-background: rgb(29 27 32);
   --surface: rgb(254 247 255);
   --on-surface: rgb(29 27 32);
   --surface-variant: rgb(231 224 235);
   --on-surface-variant: rgb(73 69 78);
   --outline: rgb(122 117 127);
   --outline-variant: rgb(203 196 207);
   --shadow: rgb(0 0 0);
   --scrim: rgb(0 0 0);
   --inverse-surface: rgb(50 47 53);
   --inverse-on-surface: rgb(245 239 247);
   --inverse-primary: rgb(211 188 253);
   --primary-fixed: rgb(235 221 255);
   --on-primary-fixed: rgb(35 15 70);
   --primary-fixed-dim: rgb(211 188 253);
   --on-primary-fixed-variant: rgb(79 61 116);
   --secondary-fixed: rgb(233 222 248);
   --on-secondary-fixed: rgb(31 24 43);
   --secondary-fixed-dim: rgb(205 194 219);
   --on-secondary-fixed-variant: rgb(75 67 88);
   --tertiary-fixed: rgb(255 217 225);
   --on-tertiary-fixed: rgb(58 7 26);
   --tertiary-fixed-dim: rgb(255 177 196);
   --on-tertiary-fixed-variant: rgb(112 51 69);
   --surface-dim: rgb(222 216 224);
   --surface-bright: rgb(254 247 255);
   --surface-container-lowest: rgb(255 255 255);
   --surface-container-low: rgb(248 241 250);
   --surface-container: rgb(242 236 244);
   --surface-container-high: rgb(237 230 238);
   --surface-container-highest: rgb(231 224 232);

   /* M3/ box-shadow Elevation Light/1 */
   --elevation-light-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
   --dark-015: rgba(0, 0, 0, 0.015);
   --dark-08: rgba(0, 0, 0, 0.08);
   --prime-08: rgba(104, 84, 142, 0.08);
   --prime-012: rgba(104, 84, 142, 0.12);
   --prime-015: rgba(104, 84, 142, 0.15);
}

/* animations css */
.animated {
   animation-duration: 1s;
   animation-fill-mode: both;
}

@keyframes customAnimationIn {
   from {
      transform-origin: center center;
      transform: translate3d(var(--animation-custom_in-translate_x), var(--animation-slide_in_up-translate_y), 0);
      opacity: var(--animation-custom_in-opacity);
   }
   to {
      transform-origin: center center;
      transform: translate3d(var(--animation-custom_in-translate_x-end), var(--animation-custom_in-translate_y-end), 0);
      opacity: var(--animation-custom_in-scale-end);
   }
}

.customAnimationIn {
   animation-name: customAnimationIn;
}

@keyframes customAnimationScale {
   from {
      transform-origin: center center;
      transform: translate3d(0, 0, 0)
         scale3d(var(--animation-zoom_in-scale), var(--animation-zoom_in-scale), var(--animation-zoom_in-scale))
         rotate3d(0, 0, 1, var(--animation-custom_in-rotate));
      opacity: var(--animation-custom_in-opacity);
   }
   to {
      transform-origin: center center;
      transform: translate3d(var(--animation-custom_in-translate_x-end), var(--animation-custom_in-translate_y-end), 0)
         scale3d(var(--animation-custom_in-scale), var(--animation-custom_in-scale), var(--animation-custom_in-scale))
         rotate3d(0, 0, 1, var(--animation-custom_in-rotate));
      opacity: var(--animation-custom_in-opacity-end);
   }
}

.customAnimationScale {
   animation-name: customAnimationScale;
}

@keyframes slideInLeft {
   from {
      transform: translate3d(var(--animation-slide_in_left-translate_x), 0, 0);
   }
   to {
      transform: translate3d(0, 0, 0);
   }
}

.slideInLeft {
   animation-name: slideInLeft;
}

@keyframes slideInRight {
   from {
      transform: translate3d(var(--animation-slide_in_right-translate_x), 0, 0);
   }
   to {
      transform: translate3d(0, 0, 0);
   }
}

.slideInRight {
   animation-name: slideInRight;
}

@keyframes slideInLeftRotate {
   from {
      transform-origin: center center;
      transform: translate3d(var(--animation-slide_in_left-translate_x), 0, 0) scale3d(1, 1, 1)
         rotate3d(0, 0, 1, var(--animation-rotate_in-rotate));
      opacity: var(--animation-custom_in-opacity);
   }
   to {
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate3d(0, 0, 1, var(--animation-rotate_out_up_left-rotate));
      opacity: var(--animation-custom_in-opacity-end);
   }
}

.slideInLeftRotate {
   animation-name: slideInLeftRotate;
}

.animated {
   will-change: transform, opacity;
   animation-duration: 1500ms;
}

.services__card.animated {
   opacity: 0;
   transform: translate3d(0, 0, 0);
}

.service-description__image.animated.slideInLeftRotate,
.service-description__service-types.animated.slideInRight,
.services__card.animated.customAnimationIn {
   opacity: 1;
   transition: 1s;
   /* transition: opacity 1s; */
}

.services__card.customAnimationIn:nth-of-type(2) {
   animation-delay: 250ms;
}

.services__card.customAnimationIn:nth-of-type(3) {
   animation-delay: 500ms;
}

.extra-services__card:nth-child(2) .extra-services__text-content.animated,
.icon.animated {
   transform: scale(0);
}

.icon.customAnimationScale {
   /* transform: scale(1); */
   transition: scale 1s;
}

/* animations css */

body {
   font-family: 'Arial', sans-serif;
   line-height: 1.6;
   font-size: 16px;
   margin: 0;
   padding: 0;
   position: relative;
}

.hidden {
   display: none !important;
}

.menu-btn {
   display: none;
}

/* top button styles */

.top-btn {
   display: none;
   position: fixed;
   bottom: 14px;
   right: 24px;
   border: none;
   outline: none;

   background-color: var(--tertiary-fixed);
   color: var(--on-tertiary-fixed);

   padding: 14px 10px 16px;
   min-width: 60px;
   width: auto;
   text-align: center;
   font-size: 2rem;
   text-decoration: none;
   cursor: pointer;
   border-radius: 2px;
   box-shadow: 2px 2px 12px -4px var(--shadow);
   transition-duration: 0.5s;
   z-index: 99;
   opacity: 0.8;
   transform: scale(0.6);
}

.top-btn:hover {
   opacity: 1;
   background-color: var(--tertiary);
   color: var(--on-tertiary);
   border-radius: 8px;
   transform: scale(0.7);
}

/* ------- feedback-wrapper ------ */

.feedback-wrapper {
   display: block;
   box-sizing: border-box;
   position: fixed;
   top: 50%;
   left: 50%;
   width: 400px;
   max-width: 98vw;
   max-height: 98vh;
   padding: 40px;
   transform: translate(-50%, -50%);
   background: var(--inverse-surface);

   /* opacity: 0.978; */
   /* border-radius: 10px; */
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);

   transition-duration: 1s;
   z-index: 5;
}

.feedback-wrapper.fadeout:hover,
.feedback-wrapper.fadeout {
   opacity: 0;
   transition-duration: 1s;
   visibility: hidden;
}

.feedback-wrapper .message {
   min-height: 20px;
   height: 20px;
   margin: 16px 0 -16px;
}

.feedback-wrapper:hover {
   opacity: 1;
}

.feedback-wrapper .btn-close {
   display: block;
   border: none;
   background: transparent;
   cursor: pointer;
}

.feedback-wrapper .icon.close {
   position: absolute;
   display: block;
   fill: var(--inverse-on-surface);
   opacity: 0.7;
   right: 20px;
   top: 20px;
   width: 28px;
   height: 28px;
   transition-duration: 0.3s;
}

.feedback-wrapper .icon.close:hover {
   opacity: 1;
   fill: var(--primary);
}

.feedback-wrapper .label {
   margin: 30px 0;
   padding: 0;
   text-align: center;
}

.feedback-wrapper .user-box {
   position: relative;
}

.feedback-wrapper .label,
.feedback-wrapper .user-box textarea,
.feedback-wrapper .user-box input,
.feedback-wrapper .user-box textarea:placeholder-shown ~ label,
.feedback-wrapper .user-box label {
   color: var(--inverse-on-surface);
}

.feedback-wrapper .user-box textarea,
.feedback-wrapper .user-box input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid var(--inverse-on-surface);
   outline: none;
   background: transparent;
}

.feedback-wrapper .user-box textarea:placeholder-shown ~ label,
.feedback-wrapper .user-box label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 16px;
   pointer-events: none;
   transition: 0.5s;
}

.feedback-wrapper .user-box textarea:focus ~ label,
.feedback-wrapper .user-box textarea ~ label,
.feedback-wrapper .user-box input:focus ~ label,
.feedback-wrapper .user-box input:valid ~ label {
   top: -20px;
   left: 0;
   color: var(--primary);
   font-size: 12px;
}

.feedback-wrapper form .btn-submit {
   position: relative;
   display: inline-block;
   padding: 10px 20px;

   color: var(--primary);
   background: transparent;

   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: 0.5s;
   margin-top: 30px;
   letter-spacing: 4px;
   border: none;
}

.feedback-wrapper form .btn-submit:disabled {
   background: var(--outline);
   color: var(--on-surface-variant);

   cursor: default;
   box-shadow: none;
   /* border-radius: 5px; */
   border-radius: 0;
}

.feedback-wrapper form .btn-submit:disabled span {
   animation: none;
}

.feedback-wrapper .btn-submit:hover {
   background: var(--primary);
   color: var(--on-primary);
   /* border-radius: 5px; */
   box-shadow: 0 0 5px var(--primary), 0 0 25px var(--primary), 0 0 50px var(--primary), 0 0 100px var(--primary);
}

.feedback-wrapper .btn-submit:active {
   box-shadow: 0 0 25px var(--primary);
   color: var(--on-primary);
}

.feedback-wrapper .btn-submit span {
   position: absolute;
   display: block;
}

.feedback-wrapper .btn-submit span:nth-child(1) {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, transparent, var(--primary));
   animation: btn-anim1 6s linear infinite;
}

@keyframes btn-anim1 {
   0% {
      left: -100%;
   }
   50%,
   100% {
      left: 100%;
   }
}

.feedback-wrapper .btn-submit span:nth-child(2) {
   top: -100%;
   right: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(180deg, transparent, var(--primary));
   animation: btn-anim2 6s linear infinite;
   animation-delay: 1.5s;
}

@keyframes btn-anim2 {
   0% {
      top: -100%;
   }
   50%,
   100% {
      top: 100%;
   }
}

.feedback-wrapper .btn-submit span:nth-child(3) {
   bottom: 0;
   right: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg, transparent, var(--primary));
   animation: btn-anim3 6s linear infinite;
   animation-delay: 3s;
}

@keyframes btn-anim3 {
   0% {
      right: -100%;
   }
   50%,
   100% {
      right: 100%;
   }
}

.feedback-wrapper .btn-submit span:nth-child(4) {
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg, transparent, var(--primary));
   animation: btn-anim4 6s linear infinite;
   animation-delay: 4.5s;
}

@keyframes btn-anim4 {
   0% {
      bottom: -100%;
   }
   50%,
   100% {
      bottom: 100%;
   }
}

/* --/ feedback-wrapper  */

.container {
   box-sizing: border-box;
   width: var(--theme-sheet-width-xl);
   padding: 1px 0;
   margin: 0 auto;
}

header,
.extra-services__image,
.extra-services__text-content,
.services::after,
.services__image,
.about__introduction,
.about .icon,
.service-description__service-types ul li::before,
.our-clients__article,
.features__background-image,
.cta-button {
   display: block;
}

.container,
.cta .section-subtitle,
.features-label,
.about__concepts,
.about-company,
.about__introduction,
.features .section-title,
.features .section-subtitle,
.features__description,
.section-title,
.section-subtitle {
   box-sizing: border-box;
}

.header__navbar,
.header__content,
.services__card-section ul,
.services__card,
.extra-services__card-section ul,
.extra-services__card,
.header__content-section,
.features__card,
.cta-picture,
.cta,
.features__subtitle,
.card__description,
.our-clients__gallery .card__content,
.service-description .container,
.about article,
.about__concepts,
.service-description,
.about__concepts-item > div,
.fb-posts,
.nav-menu,
.nav-menu__list {
   display: flex;
}

.header__content,
.cta,
.features__card,
.our-clients__gallery .card__content,
.about__concepts,
.services__card {
   flex-direction: column;
}

/* .nav-menu__item a, */
.heading,
.section-title,
.features__subtitle,
.about .section-title {
   text-transform: uppercase !important;
}

.text-large {
   font-size: 3.75rem; /* 60px font size  */
}

h1,
.header__title {
   font-size: 2.625rem; /* 42px font size  */
}

h2,
h3,
.section-title,
.about .section-title {
   font-size: 2.25rem; /* 36px font size  */
}

.features h3 {
   font-size: 2rem; /* 32px font size  */
}

h4,
h5,
.about__concepts .about__concepts-title {
   font-size: 1.875rem; /* 30px font size  */
}

/* .extra-services__title, */
.header__subtitle {
   font-size: 1.625rem; /* 26px font size  */
}

.extra-services__title,
h6 {
   font-size: 1.5rem; /* 24px font size  */
}

.features__card-title,
.services__title,
.our-clients > p,
.card__description .object-name,
.features__description p {
   font-size: 1.375rem; /* 22px font size  */
}

.about-company .title,
.header__description,
.services__section-subtitle,
.cta__description,
.section-subtitle {
   font-size: 1.125rem; /* 18px font size  */
}

.text-button,
.cta-button,
.extra-services__introduction,
.extra-services__description,
.features__subtitle,
.services__card,
.services__description,
.about p,
.about-company .label,
.about-company .description,
.about__concepts p,
.about__concepts-item p,
.card__description .object-description,
.features__card,
.features__text p,
.extra-services__card,
.extra-services__footer,
.extra-services__footer a,
.service-description__service-types h4 {
   font-size: 1rem; /* 16px font size  */
}

.nav-menu__item a {
   /* font-size: 0.75rem; 12px font size  */
   /* font-size: 0.875rem; 14px font size  */
   font-size: 0.95rem; /* 15px font size  */
}

.about .title,
.service-description h4,
.heading,
.section-title,
.about .section-title {
   font-family: 'Raleway', sans-serif;
}

/* .cta-button, */
.text-button,
.cta__description,
.about__concepts p,
.about .label,
.section-subtitle,
.our-clients,
.our-clients .section-subtitle,
.our-clients h3,
.our-clients,
.about-company p,
.services__title,
.about__concepts .about__concepts-title,
.about .ection-title,
.features__card-title,
.service-description,
.about .description,
.about__concepts-item p,
.extra-services__description,
.about .text,
.services__footer .services__section-subtitle,
.services__description {
   font-family: 'Montserrat', sans-serif;
}

.about__concepts-item > div > p:nth-of-type(1),
.footer-section .label,
.features__description p,
.card__description .object-description,
.nav-menu__item a {
   font-family: 'Open Sans', sans-serif;
}

.about__concepts-item > div > p:nth-of-type(2),
.features__subtitle,
.footer-section .text,
.features__text p {
   font-family: 'AR One Sans', sans-serif;
}

/* .about__concepts-item > div > p:nth-of-type(2), */

.cta-button,
.card__description .object-name,
.extra-services__title,
.footer-section.logo .text {
   font-family: 'Roboto', sans-serif;
}

.our-clients .section-title {
   line-height: 1.6;
}

.cta-button,
.extra-services__introduction,
.extra-services__title,
.features__subtitle,
.our-clients,
.our-clients h3,
.our-clients p,
.our-clients .section-subtitle {
   line-height: 1.4;
}

/* .cta-button {
   line-height: 1.25;
} */

header,
.service-description,
.card__description,
.prev-btn:hover,
.next-btn:hover,
.features__subtitle,
.cta-button,
.extra-services__card:nth-child(3),
.extra-services__card:nth-child(2),
.extra-services__footer,
.extra-services__footer a {
   color: var(--on-primary); /* white */
}

.section-title,
.services__footer .services__section-subtitle,
.services__section-subtitle a,
.services__section-subtitle,
.about-company .description,
.about-company p,
.features h3,
.extra-services__card:nth-child(1),
footer .container {
   color: var(--on-surface); /* black */
}

.services__image img,
.header__background-image img,
.header__background-image,
.service-description__backgroung,
.card__picture,
.card__picture img,
.service-description__backgroung img,
.features__image img,
.extra-services__image img,
.about .icon img {
   width: 100%;
   height: 100%;
}

.services::after,
.service-description__backgroung,
.header__background-image,
.service-description__service-types ul li::before,
ol.our-clients__gallery,
.card__picture,
.card__description,
.prev-btn,
.next-btn,
.features__background-image {
   position: absolute;
}

.header__content-section,
.header__content,
.services,
.service-description,
.service-description__service-types ul li,
.our-clients,
.our-clients .container,
.our-clients__article,
.our-clients__gallery li.card,
.features {
   position: relative;
}

/* ------------ header-content -------- */

header {
   padding: 1rem;
   text-align: center;
   padding: 0;
}

header,
.header__navbar,
.services__card,
.features__card,
.our-clients,
.extra-services__card {
   background: var(--background);
}

h1 {
   font-size: 2.5rem;
}

.header__navbar {
   height: 4.5rem;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 100%;
}

.header__content-section {
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: var(--shadow);
   overflow: hidden;
}

.header__background-image {
   opacity: 0.78;
   overflow: hidden;
}

.header__background-image img {
   object-fit: cover;
   object-position: center;
}

.header__content {
   box-sizing: border-box;
   min-height: 460px;
   align-items: baseline;
   margin: 60px 0;
   text-align: left;
   padding: 0 20px;
   position: relative;
}

.header__content::before {
   position: absolute;
   display: block;
   content: '';
   width: 100%;
   height: 100%;
   background-color: var(--shadow);
   opacity: 0.3;
   left: 0;
   z-index: 0;
}

.section-title {
   color: var(--on-secondary-container);
}

.header-picture {
   display: block;
   box-sizing: border-box;
   content: '';
   position: absolute;
   width: 56%;
   height: 64%;
   right: 40px;
   bottom: 40px;
}

.header-picture img {
   width: 100%;
   height: 100%;
   border-radius: 5px;
   object-position: center;
   object-fit: cover;
}

.header__navbar_company-logo a {
   cursor: pointer;
   line-height: 70px;
   display: block;
}

.header__navbar_company-logo img {
   display: block;
   height: 30px;
   width: auto;
}

.header__navbar_social {
   display: flex;
   padding-left: 0;
   box-sizing: inherit;
}

.header__navbar_social li {
   list-style-type: none;
   margin-right: 8px;
}

.header__navbar a,
.header__navbar_social a {
   text-decoration: none;
   cursor: pointer;
}
.header__navbar_social a:hover {
   /* box-shadow: var(--elevation-light-1); */
   scale: 1.05;
}

.header__navbar_social a {
   display: block;
   line-height: 70px;
   border-radius: 50%;
}

.header__navbar_social img {
   display: block;
   height: 25px;
   width: auto;
}

.header__title,
.header__description,
.header__button {
   z-index: 1;
}

.header__title {
   line-height: 2.8rem;
   max-width: 70%;
   font-weight: 600;
   margin-top: 40px;
   margin-bottom: 30px;
   word-wrap: normal;
   white-space: normal;
}

.header__subtitle {
   line-height: 1.2;
   font-weight: 400;
   max-width: 40%;
}

.header__description {
   max-width: 40%;
}

.header__description ul {
   list-style-type: none;
   padding-left: 0;
}

.header__description ul li {
   display: flex;
   align-items: flex-start;
}

.header__description ul li p {
   margin: 0;
   margin-left: 10px;
   line-height: 1.4rem;
}

.header .cta-button {
   margin: 30px auto 20px;
   z-index: 2;
}

.header-buttons {
   display: flex;
   gap: 1rem;
   z-index: 1;
}

.header {
   position: relative;
}

.header__navbar.container {
   background: var(--background);
   color: var(--on-background);
   z-index: 1;
}

.nav-menu {
   height: 100%;
}

.nav-menu__list {
   box-sizing: inherit;
   padding-left: 0;
   list-style-type: none;
   align-items: center;
}

.nav-menu__item {
   /* margin: 0 5px; */
   color: inherit;
   /* border-bottom: 2px solid;
   border-color: transparent; */
   font-weight: 500;

   color: var(--primary);
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.4; /* 142.857% */
   letter-spacing: 0.1px;

   transition-duration: 300ms;
}

.nav-menu__item a {
   display: block;
   padding: 8px 16px;
   color: inherit;
   font-family: inherit;
   font-size: inherit;
   font-style: inherit;
   font-weight: inherit;
   line-height: inherit;
   background-color: transparent;

   border-radius: 100px;
}

.nav-menu__item a:hover {
   /* color: var(--primary); */
   background: var(--dark-015);
   /* box-shadow: var(--elevation-light-1); */
}

/* .nav-menu__item:active {
   background-color: rgba(var(--primary), 0.48);
} */

/* --/ header-content */

/* ------------ body-content -------- */
/* ------------ body __ services-content -------- */

.services {
   background: var(--background);
   min-height: 870px;
   z-index: 0;
}

.services::after {
   content: '';
   top: 38%;
   left: 0;
   width: 100%;
   height: 320px;

   background-color: var(--primary);

   /* opacity: 0.8; */
   z-index: -1;
}

.services__content {
   text-align: center;
   margin: 0 auto;
}

.section-subtitle {
   text-align: start;
}

.technologies .section-subtitle {
   text-align: center;
}

.services__section-subtitle a:hover {
   color: var(--secondary);
}

.services__section-subtitle {
   margin: 0 auto;
   font-weight: 400;
}

.services__card-section ul {
   margin: 57px 0 300px;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   width: 100%;
   padding-left: 0;
}

.services__card .services__title {
   font-weight: 500;
   /* text-transform: none; */
   /* margin-bottom: 20px; */
   margin-bottom: 8px;
   /* color: var(--on-surface); */
   /* margin-left: 8px; */
}

.services__card .services__title,
.services__card .services__description,
.services__card .services-btn {
   text-align: left;
   /* color: var(--on-surface-variant); */
}
.services__card .services-btn {
   margin-right: 0;
   margin: 14px 0 4px auto;
}

.services__card {
   align-items: center;
   list-style-type: none;
   cursor: default;
   width: 340px;
   min-height: 178px;
   height: auto;
   flex-grow: 0;
   /* text-align: justify; */
   padding: 30px;

   margin: 0;
   box-sizing: border-box;

   background-color: var(--surface);
   color: var(--on-surface-variant);

   line-height: 1.5rem;
   overflow: hidden;
   /* text-align: center; */

   border: 1px solid rgba(198, 75, 222, 0.233);
   border-style: outset;
   box-shadow: 4px 5px 30px rgba(79, 29, 88, 0.15);
}

/* .services__card:hover {
   scale: 1.05;
} */

.services__card:nth-child(2) {
   margin-top: 120px;
   margin-bottom: -120px;
}

.services__card:nth-child(3) {
   margin-top: 240px;
   margin-bottom: -240px;
}

.services__image {
   width: 100%;
   height: 240px;
   overflow: hidden;
   border-radius: 4px;
}

.services__title {
   /* font-size: 1.25rem; 20px font size   */
   font-size: 1.125rem; /* 18px font size  */
   font-weight: 400;
   line-height: 1.4;
   text-transform: uppercase;
   margin: 30px auto 14px;
}

.services__description {
   /* text-align: center; */
   line-height: 1.6rem;
   margin-top: 0;
   margin-bottom: 20px;
}

.services-btn {
   border-width: 1px;
   letter-spacing: 2px;
   margin: auto auto 40px;
   background: transparent;
   cursor: pointer;
}

.services__footer {
   margin: 39px auto 60px;
}

.services__footer .services__section-subtitle a {
   color: inherit;
   font-family: inherit;
   letter-spacing: 1px;
   padding: 0 0 4px;
   text-decoration: none;
   border-bottom: 1px solid var(--on-surface);
}

/* --/ services-content */

/* ------------ body __ about -------- */

.about {
   padding: 0;
   padding-top: 40px;
   line-height: normal;

   background: var(--background);
   background: linear-gradient(
      0deg,
      var(--surface-tint) 0%,
      var(--surface-tint) 39%,
      var(--background) 39%,
      var(--background) 100%
   );
}

.about__concepts .about__concepts-title {
   line-height: 1.1;
   text-align: center;
   width: 100%;
   margin-top: 40px;
   margin-bottom: 30px;
}

.about__concepts-item > div {
   flex-wrap: wrap;
}

.about__concepts-item > div > p {
   width: 70%;
}

.about__concepts-item > div > p:first-of-type {
   width: 25%;
   font-size: 2.3rem;
   margin: 10px 8px 0 0;
   letter-spacing: -1px;
   font-weight: 400;
   white-space: nowrap;
}

.about__concepts-item > div > p:nth-of-type(2) {
   font-weight: 600;
   text-transform: uppercase;
}

.about__concepts-item > div > p:last-of-type {
   margin: 0 auto;
   width: 100%;
   color: var(--on-tertiary);
   flex-wrap: wrap;
   padding-left: 28%;
   font-weight: 300;
}

.about .section-title {
   text-transform: none;
   font-weight: 700;
   text-align: center;
}

.about .container {
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content: center;
   gap: 40px;
   margin-top: 30px;
}

.about-company,
.about__introduction {
   width: 40%;
}

.about__introduction {
   height: auto;
   overflow: hidden;
   margin: 0;
   position: relative;
   box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   height: 520px;
}

.about__introduction img {
   position: absolute;
   width: 130%;
   height: 130%;
   bottom: -20%;
   left: -20%;
   object-fit: cover;
}

.nowrap {
   white-space: nowrap;
}

.about-company ul {
   padding: 0;
   margin: 0;
}

.about .description,
.about .text {
   margin: 0;
   font-size: 1rem;
   text-align: left;
   text-decoration: none;
   line-height: 1.4;
   letter-spacing: normal;
}
/* 
.about-company {
   padding-left: 30px;
   padding-right: 8px;
} */

.about-company p:first-of-type:not(.text) {
   margin-top: 0;
}

.about-company p {
   margin-top: 20px;
}

.about-company .title {
   font-weight: 600;
}

.about-company .title,
.about-company .label {
   margin: 0;
   line-height: 1.4;
   margin-bottom: 10px;
}

.about-company .label {
   margin: 20px 0 5px;
}

.about-company ul li {
   list-style-type: '-';
   padding-left: 10px;
   margin-left: 10px;
}

b,
strong,
.about-company b,
.about-company strong {
   font-weight: 600;
   color: var(--on-secondary-container);
}

.about__concepts {
   margin-top: 30px;
   gap: 20px;
   width: 100%;
   flex-direction: row;
   justify-content: center;
}

.about__concepts-item {
   /* background-color: var(--primary-container); */
   /* border-radius: 15px; */
   padding: 10px 30px;
   line-height: 1.4;
   list-style-type: none;
   margin: 0;
   width: 22%;
}

.about .icon {
   width: 100%;
   height: 200px;
   text-align: center;
   margin: 0 auto 4px;
   overflow: hidden;
}

/* svg icons change from images */

.about .icon {
   width: 160px;
   height: 160px;

   display: flex;
   justify-content: center;
   align-items: center;
   /* margin: auto; */
}

.icon svg {
   width: 120px;
   height: 120px;
}
.about__concepts-item:last-of-type svg {
   width: 140px;
   height: 140px;
}

.about__concepts-item:nth-of-type(2) svg {
   width: 108px;
   height: 108px;
}

.about__concepts-item > div > p,
.about .icon svg path {
   fill: var(--on-secondary);
   color: var(--on-secondary);
}

.about .icon img {
   object-fit: cover;
   object-position: center;
   filter: brightness(1.11) contrast(0.74);
   transition: 900ms;
}

.about .icon:hover img {
   filter: brightness(1) contrast(1);
}

/* ------------ body __ service-description -------- */

.service-description {
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   overflow: hidden;
   padding: 0 0 80px;

   background: var(--surface-tint);
   background: linear-gradient(
      180deg,
      var(--surface-tint) 0%,
      var(--surface-tint) 42%,
      var(--surface) 42%,
      var(--surface) 100%
   );
}

.service-description__backgroung {
   bottom: 0;
   display: none;
}

.service-description__backgroung img {
   opacity: 0.4;
   object-fit: cover;
   object-position: left center;
}

.service-description .container {
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;
   text-align: center;
   z-index: 1;
}

.service-description .section-title {
   margin-bottom: 0px;
   width: 100%;
   color: var(--on-secondary);
   white-space: nowrap;
}

.service-description__service-types {
   box-sizing: border-box;
   width: 50%;
   text-align: left;
   background-color: var(--surface-variant);
   color: var(--on-surface-variant);

   border: 0;
   border-right: 18px;
   border-color: var(--tertiary-fixed);

   border-style: solid;
   box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.08);
}

.service-description__service-types.animated {
   transform: translate3d(var(--animation-slide_in_right-translate_x), 0, 0);
   opacity: 0;
}

.service-description__service-types h4 {
   margin: 20px 25px;
   padding-left: 50px;
   padding-left: 14px;
   padding-left: 0;
}

.service-description__service-types ul li svg path {
   fill: var(--tertiary-fixed-dim);
   fill: var(--on-secondary-fixed-variant);
}

.service-description__service-types ul li svg {
   width: 24px;
   height: 24px;
   display: block;
}

.service-description__service-types ul {
   padding: 0 10px 0 30px;
}

.service-description__service-types ul li {
   display: flex;
   width: 94%;
   list-style-type: none;
   flex-direction: row;
   margin: 10px 0;
   padding: 0;
   gap: 20px;
}

.service-description__service-types p,
.service-description__service-types .icon {
   display: block;
   margin: 0 auto auto;
}

.service-description__service-types h4 {
   font-weight: 600;
   letter-spacing: 1.2px;
   text-transform: uppercase;
}

.service-description__image {
   height: 450px;
   border: 10px solid var(--surface-container-lowest);
   box-sizing: border-box;
   width: 30%;
   overflow: hidden;
   transform: rotate(-5deg);
   margin: 14px 40px -10px 20px;
   box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.08);
}

.service-description__image img {
   height: 100%;
   width: auto;
   min-width: 100%;
}

.service-description__image.animated {
   transform: translate3d(var(--animation-slide_in_left-translate_x), 0, 0) scale3d(1, 1, 1)
      rotate3d(0, 0, 1, var(--animation-rotate_in-rotate));
   opacity: 0.2;
}

/* --/ service-description */

/* ------------ body __ our-clients-description -------- */

.our-clients .section-title,
.our-clients .section-subtitle,
.our-clients .section-subtitle b,
.our-clients .section-subtitle strong {
   color: var(--inverse-surface);
}

.our-clients {
   padding: 0 0 60px;
   text-align: left;
   min-height: 800px;
   color: var(--on-surface);
   background: var(--surface-bright);
   /* background: var(--surface-variant); */
   /* background: var(--surface-tint); */
   /* background: var(--surface-dim); */
   /* background: var(--surface-container-lowest); */
   /* background: var(--surface-container-low); */
   /* background: var(--surface-container-highest); */
   /* background: var(--surface-container-high); */
   /* background: var(--surface-container); */
   /* background: var(--on-surface-variant); */
}

.section-title,
.about .section-title,
.our-clients .section-title {
   margin: 70px auto 20px;
}

.our-clients,
.our-clients h3,
.our-clients p,
.our-clients .section-subtitle {
   width: 100%;
   line-height: 1.4;
   margin: 0;
   font-weight: 400;
}

.section-subtitle.inline {
   display: inline;
}

.our-clients .section-title,
.section-title {
   font-weight: 700;
   text-align: center;
}

.our-clients > p {
   line-height: 1.4;
   max-width: 40%;
   margin: 40px auto 0;
}

.our-clients__article,
.our-clients__gallery li.card {
   width: 689px;
   height: 475px;
   padding: 0;
}

.our-clients__article {
   box-sizing: border-box;
   overflow: hidden;
   margin: auto;
   margin-top: 40px;
   box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

ol.our-clients__gallery {
   display: inline-flex;
   width: auto;
   padding: 0;
   margin: 0;
   left: 0;
   transition: 1s;
}

.our-clients__gallery li.card {
   display: inline-block;
   box-sizing: border-box;
   margin: 0;
   overflow: hidden;
}

.our-clients__gallery .card__content {
   /* width: 66%; */
   width: 100%;
   height: 100%;
   justify-content: center;
}

.card__picture {
   left: 0;
}

.card__picture img {
   object-fit: cover;
}

.card__description {
   box-sizing: border-box;

   flex-direction: column-reverse;
   width: 100%;
   height: 140px;
   align-items: center;
   justify-content: center;
   background: var(--inverse-surface);
   left: 0;
   bottom: 0;
   padding: 20px;
   padding-left: 60px;

   color: var(--surface);
}

.card__description .object-description,
.card__description .object-name {
   display: block;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   width: 100%;
}

sup,
sub {
   text-transform: none;
}
.small {
   font-size: small;
}

.card__description .object-description {
   font-weight: normal;
   line-height: 1.4;
   margin-top: 6px;
}

.card__description .object-name {
   line-height: 1.4;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.prev-btn,
.next-btn {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
   bottom: 28%;
   border: none;
   background-color: var(--on-surface-variant);
}

.prev-btn svg,
.next-btn svg {
   fill: var(--surface-container-lowest);
   width: 70%;
   height: 70%;
   padding: 6px 0;
}

.prev-btn svg {
   padding-right: 3px;
}
.next-btn svg {
   padding-left: 3px;
}

.prev-btn {
   left: 15%;
}

.next-btn {
   right: 15%;
}

.prev-btn:hover,
.next-btn:hover {
   background-color: var(--surface-variant);
}

.prev-btn:active,
.next-btn:active {
   background-color: var(--surface-dim);
}

.prev-btn:hover svg,
.next-btn:hover svg {
   fill: var(--on-surface-variant);
}

/* --/ our-clients-description */

/* ------------ body __ features and fails section -------- */

.features {
   text-align: center;
   padding: 0 0 60px;
   z-index: 0;
   overflow: hidden;

   background: var(--surface-bright);
   background: linear-gradient(
      180deg,
      var(--surface-bright) 0%,
      var(--surface-container-lowest) 86%,
      var(--surface-container-lowest) 86%
   );
}

.features__background-image {
   width: 100%;
   /* height: 100%; */
   height: auto;
   top: 38.5%;
   /* top: 40%; */
   bottom: 130px;
   z-index: -1;
   overflow: hidden;
}

.features__background-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: right top;
   filter: grayscale(1);
   opacity: 0.64;
}

.our-clients h3,
.our-clients p {
   line-height: 1;
}

.our-clients p a {
   color: inherit;
   padding-left: 0px;
}

.features .section-subtitle b {
   font-weight: 600;
}

.features-label {
   display: flex;
   flex-direction: column;
   width: 1140px;
   margin: 20px auto;
}

.features__subtitle {
   width: 240px;
   width: 260px;
   height: 50px;
   color: var(--on-surface);
   background: var(--surface-container-high);
   align-items: center;
   margin: 0;
   z-index: 999;
   padding: 0 10px;
   padding-left: 20px;
}

.features__subtitle::before {
   display: block;
   content: url('../images/icons/close.svg');
   width: 20px;
   height: 20px;
   padding-bottom: 3px;
   margin-right: 12px;
}
.features__subtitle:last-of-type::before {
   content: url('../images/icons/done-all.svg');
}

.features__subtitle:last-of-type {
   background: var(--background);
}

.section-subtitle,
.features .section-subtitle p,
.features .section-subtitle {
   line-height: 1.4;
   max-width: var(--theme-sheet-width-xl);
   font-weight: 400;
   margin: 0 auto;
}

/* Dribbble-Light-Preview, */
.header__description svg {
   width: 14px;
   height: 14px;
   /* background: var(--surface-variant); */
   background: var(--on-primary);
   border: 2px solid var(--on-primary);
   border-radius: 4px;
}

.header__description svg g {
   fill: var(--primary);
}

.features__description {
   max-width: var(--theme-sheet-width-xl);
   margin: 40px auto 20px;
   text-align: start;
}

.features__description p {
   font-weight: 600;
   text-align: center;
   line-height: 2rem;
}

.features h3 {
   width: 100%;
   text-align: center;
}

.features .container {
   margin-top: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 2px;
   box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.015);
}

.features__card {
   justify-content: start;
   align-items: center;
   text-align: center;
   color: var(--on-surface);
   padding: 30px;
   margin-bottom: 0;
}

.features .icon {
   display: block;
   min-height: 24px;
   min-width: 24px;
   margin-right: 4px;
}

.icon.close {
   fill: var(--error);
}

.icon.done {
   fill: var(--primary);
}

.features__card.bad .features__text,
.features__card.bad .features__card-title {
   color: var(--on-error-container);
}

.features__card .features__text,
.features__card .features__card-title {
   color: var(--on-tertiary-fixed-variant);
}

.features__card-title {
   line-height: 1.2;
   font-weight: 500;
   margin: 20px auto;
}

.features__text {
   width: 100%;
   text-align: center;
}

.features__text p {
   line-height: 1.4;
   padding: 0;
   margin: 0 auto auto 0;
   font-weight: 300;
   width: content;
   text-align: left;
}

.features__text li {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   list-style: none;
   padding-left: 20px;
}

.features__card.bad {
   background: var(--surface-container-high);
}

.features__card.bad .features__image {
   border-right: 6px solid var(--error);
   border-bottom: 6px solid var(--error);
}

.features__card.good .features__image {
   border: 6px solid var(--primary-fixed);
   border-right: 6px solid var(--primary);
   border-bottom: 6px solid var(--primary);
}

.features__image {
   border: 6px solid var(--inverse-surface);
   box-sizing: border-box;
   width: 120px;
   height: 120px;
   margin: 0 auto;
   overflow: hidden;
   border-radius: 50%;
}

.features__image img {
   object-fit: cover;
}

/* --/ features and fails section */

.cta {
   align-items: center;
   padding: 0 0 40px;
   justify-content: center;
   padding-bottom: 80px;
   background: var(--surface-container-lowest);
}

.cta .container {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 60px;
   gap: 40px;
}

.cta span.hyphen {
   display: none;
}

.cta__subtitle {
   font-size: 2.4rem;
   line-height: 2.6rem;
   font-weight: 400;
   letter-spacing: normal;
}

.cta__gallery {
   display: block;
   width: 60%;
   height: 100%;
   padding: 20px;
   position: relative;
   margin-top: 60px;
   border: 1px solid rgba(213, 213, 213, 0.41);
   box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
   transition: transform 350ms ease-in-out;
}

/* .our-clients__article.show, */
.cta__gallery.show {
   position: fixed;
   height: 80vh;
   width: 80vw;
   max-width: 1100px;
   max-height: 600px;
   z-index: 2;
   bottom: 50%;
   right: 50%;
   box-shadow: 0 0 0px 730px rgba(var(--shadow), 0.2);
   transform: translate(50%, 50%);
}

.cta__gallery.show .section-title.label {
   top: 20px;
   z-index: 2;
   font-size: 0.875rem;
}

.our-clients__article.show .our-clients__gallery,
.our-clients__article.show .card {
   width: 80vw;
   max-width: 1100px;
}

.cta__gallery.show .cta__slider {
   height: 100%;
}

.cta__gallery.show .close-btn {
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   font-size: 40px;
   line-height: 40px;

   color: var(--on-surface-variant);

   min-width: 40px;
   min-height: 40px;
   text-align: center;
   cursor: pointer;
}

.cta__gallery.show .prev {
   left: 0;
}
.cta__gallery.show .next {
   right: 0;
}

.cta__gallery.show .prev,
.cta__gallery.show .next {
   -webkit-transform: scale(1);
   transform: scale(1);
   opacity: 1;
}

.cta__gallery.show,
.cta__gallery.show .close-btn,
.cta__gallery.show .prev,
.cta__gallery.show .next {
   background: var(--surface-container-lowest);
}

.cta__gallery.show .prev:hover,
.cta__gallery.show .next:hover,
.cta__gallery.show .close-btn:hover {
   background: var(--surface-container-low);
   opacity: 1;
}

.cta__gallery.show .cta__slider img:hover {
   -webkit-transform: none;
   transform: none;
   cursor: default;
}

.cta__gallery .close-btn {
   display: none;
}

.slider-pagination {
   position: absolute;
   width: fit-content;
   height: fit-content;
   bottom: -54px;
   left: 50%;
   transform: translate(-50%, -50%);
}

.slider-pagination__list {
   margin: 0;
   padding-left: 0;
   width: auto;
   cursor: pointer;
}

.circle {
   margin: 0 1px;
   border: 2px solid var(--surface-container-lowest);
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: var(--surface-container-highest);
   cursor: pointer;
}

.circle:hover {
   background: var(--inverse-primary);
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
}

.circle.active {
   background: var(--primary);
}

.cta__slider {
   display: block;
   width: 100%;
   height: 400px;
   overflow: hidden;
}

.cta__slider img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center center;
   -webkit-transition: -webkit-transform 1s ease-in-out;
   transition: transform 1s ease-in-out;
}

.cta__slider img:hover {
   object-position: left center;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   cursor: zoom-in;
}

.cta-buttons .prev,
.cta-buttons .next {
   width: 50px;
   height: 200px;
   height: 100%;
   border-radius: 0;
   bottom: 0%;
   opacity: 0.14;

   background-color: transparent;
   transition: 0.3s;
   transform: scale(0.8);
}

.cta-buttons .prev:hover,
.cta-buttons .next:hover {
   opacity: 0.5;
   -webkit-transform: scale(1);
   transform: scale(1);
}

.cta-buttons .prev:active,
.cta-buttons .next:active {
   opacity: 1;
}

.cta-buttons .prev svg,
.cta-buttons .next svg {
   fill: black;
   width: 100%;
}

.cta-buttons .prev {
   left: -7%;
}
.cta-buttons .next {
   right: -7%;
}

.cta__description::before {
   position: absolute;
   left: 0;
   bottom: 0;
   display: block;
   content: '';
   height: 100%;
   width: 100%;
   /* box-shadow: -40px -40px 0px 10px var(--middle-bg-color); */
   box-shadow: -40px -40px 0px 10px var(--inverse-on-surface);
}

.cta__description {
   position: relative;
   border: 0;
   display: block;
   padding: 34px 20px;
   width: 280px;
   height: fit-content;
   /* background-color: var(--primary); */
   background-color: var(--secondary);
   margin: 0;
   margin-bottom: 10px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.cta .cta__description .section-title {
   margin: 0;
   line-height: 1.4;
   text-transform: none !important;
   text-align: left;
   background: transparent;
   font-weight: 700;
}

.cta .cta__description .section-title,
.cta__description p {
   color: var(--on-secondary);
}

.cta__description p {
   line-height: 1.4;
   font-weight: 400;
   margin: 5px 0;
}

.cta .section-subtitle {
   margin: 0px;
   margin-top: 1rem;
   width: 1140px;
}

.cta .section-subtitle {
   text-align: center;
}

.cta .container .text {
   width: 100%;
   margin: 0 auto;
}

.cta .container .text p {
   width: 100%;
   text-align: left;
}
.cta .cta__gallery .label a {
   color: inherit;
   font-weight: 300;
   cursor: pointer;
   font-family: 'Roboto', sans-serif;
}
.cta .cta__gallery .label a:hover {
   color: var(--primary);
}
.cta .cta__gallery .label {
   position: absolute;
   width: fit-content;
   height: fit-content;
   top: -30px;
   left: 50%;
   transform: translate(-50%, -50%);

   margin: auto;
   line-height: 1.4;
   font-size: 1.25rem;
   font-weight: 400;
   text-transform: none !important;
}

.cta__submit-section p::before,
.cta__submit-section p::after {
   position: absolute;
   display: block;
   content: '';
   height: 100%;
   width: 100%;
   border-left: 1px solid var(--on-tertiary-container);
   z-index: 1;
   padding: 20px;
   bottom: -20px;
   left: 0;
}

.cta__submit-section p {
   min-height: 70%;
   max-height: 70%;
   position: relative;
   padding: 0 30px;
   color: var(--on-tertiary-container);
   text-align: left;
   vertical-align: middle;
   margin: auto;
}

.cta__submit-section p:first-of-type {
   font-size: 24px;
   line-height: 1;
}

.cta__submit-section {
   box-sizing: border-box;
   display: grid;
   width: 1140px;
   max-width: 100vw;
   margin: 40px 0 0;
   grid-template-columns: 22% 50% 26%;
   grid-template-rows: 100px;
   padding: 20px 40px;
   background: var(--tertiary-container);
}

.cta__submit-section .consult-btn {
   font-size: 0.75rem;
   margin: auto;
   margin-right: 0;
   padding: 10px 20px;
   font-weight: 600;
   background-color: var(--tertiary-container);
   color: var(--on-tertiary-container);
   border: 1px solid var(--on-tertiary-container);
}
.cta__submit-section .consult-btn:hover {
   background-color: var(--tertiary-fixed-dim);
   color: var(--on-tertiary-fixed-variant);
}

.cta-picture {
   width: 100%;
   height: 200px;
   margin: 40px 0;
   overflow: hidden;
}

.cta-picture img {
   width: 20%;
   height: 100%;
   object-fit: cover;
}

.cta .cta-button {
   font-size: 0.8rem;
}

.text-button,
.cta-button {
   background-color: var(--primary);
   cursor: pointer;
   transition: background-color 0.3s ease;

   line-height: 1.25rem;
   padding: 10px 24px;
   border: 1px solid var(--primary);
   border-radius: 100px;

   font-style: normal;
   font-weight: 500;
   letter-spacing: 0.1px;
}

.cta-button:hover {
   box-shadow: var(--elevation-light-1);
   border-color: var(--on-primary-fixed-variant);
   background-color: var(--on-primary-fixed-variant);
}

.cta-button:active {
   box-shadow: none;
}

.outlined,
.cta-button.outlined {
   border-color: var(--outline);
   background-color: var(--surface);
   color: var(--primary);
}

.outlined:hover,
.cta-button.outlined:hover {
   background-color: var(--surface-container);
   color: var(--on-surface-variant);
}

.outlined:active,
.cta-button.outlined:active {
   background-color: var(--surface-container-highest);
   color: var(--on-surface-variant);
}

.text-button {
   color: var(--on-surface-variant);
   letter-spacing: normal;
   font-weight: 400;
   background-color: transparent;
   border: none;
}
.text-button:hover {
   background-color: var(--prime-08);
}
.text-button:active {
   background-color: var(--prime-012);
}

.header,
.services,
.about,
.service-description,
.our-clients,
.features,
.cta,
.extra-services,
footer .container {
   margin: 0 auto;
}

footer {
   background-color: var(--inverse-surface);
   border-top: 1px solid var(--surface);
}

footer .container {
   display: grid;
   grid-template-columns: 1.6fr 2fr 2fr 2fr;
   grid-template-rows: 1fr;
   gap: 30px;
   padding: 2.5rem 0;
   color: var(--inverse-on-surface);
}

.footer-section {
   display: block;
   font-size: 1.2rem;
   margin: 0 auto auto 0;
   text-align: left;
}

.footer-section.logo {
   text-align: left;
}

.footer-section .label {
   height: 2rem;
}

.footer-section.logo img {
   height: 110px;
   width: auto;
   object-fit: contain;
   margin: 1rem 0 auto;
}

.footer-section ul {
   list-style-type: none;
   padding-left: 0;
   cursor: default;
}

.footer-section .text {
   font-size: 0.94rem;
   color: var(--middle-bg-color);
   margin: 6px 0;
   cursor: default;
}
.footer-section a {
   cursor: pointer;
}

/* ------------ body __ extra-services-content -------- */

.extra-services {
   padding-top: 60px;
   padding-bottom: 60px;
   background: var(--surface-bright);
}

.extra-services__introduction {
   color: var(--on-surface);
   font-weight: 400;
   margin: 80px auto 20px;
}

.extra-services__card-section ul {
   flex-direction: column;
   width: 840px;
   gap: 0;
   padding: 0;
   margin: 40px auto;
}

.extra-services__card {
   width: 100%;
   min-height: 180px;
   text-align: left;

   list-style-type: none;
   padding: 0;
   margin: 0;

   color: var(--on-surface);
   background: transparent;

   overflow: hidden;
   cursor: default;
}

.extra-services__text-content {
   width: 58%;
   animation-duration: 2000ms;
   padding-bottom: 10px;
   padding: 20px;
   padding-left: 25px;
}

.extra-services__image {
   width: 42%;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.extra-services__card:nth-child(2) .extra-services__image {
   width: 30%;
}

.extra-services__card:nth-child(2) .extra-services__text-content {
   width: 40%;
}

.extra-services__image img {
   object-fit: cover;
   object-position: center;
}

.extra-services__card:nth-child(1) .extra-services__text-content {
   background: var(--on-primary-fixed-variant);
   color: var(--on-secondary);
}
.extra-services__card:nth-child(2) .extra-services__image.animated {
   animation-delay: 700ms;
}
.extra-services__card:nth-child(3) .extra-services__image.animated {
   animation-delay: 400ms;
   animation-duration: 2200ms;
}
.extra-services__card:nth-child(2) .extra-services__text-content {
   background: var(--surface-container);
   color: var(--scrim);
}
.extra-services__card:nth-child(2) .extra-services__text-content.animated.customAnimationScale {
   transition: scale 2s;
   animation-delay: 800ms;
   transition-delay: 800ms;
}
.extra-services__card:nth-child(3) .extra-services__text-content {
   animation-duration: 3000ms;
   background: var(--error);
   color: var(--surface);
}
.extra-services__card:nth-child(1) {
   flex-direction: row-reverse;
}

.extra-services__title {
   font-weight: 300;
   text-transform: uppercase;
   margin: 10px auto 20px;
}

.extra-services__title,
.extra-services__description {
   padding: 0;
}

.extra-services__description {
   line-height: 1.4rem;
   margin-top: 0;
}

.extra-services__description::before {
   display: block;
   width: 80px;
   height: 1.6px;
   background-color: var(--on-primary);
   /* background-color: var(--scrim); */
   content: '';
   margin: 16px 0;
}
.extra-services__card:first-of-type .extra-services__description::before {
   /* background-color: var(--outline-variant); */
   background-color: var(--error);
}
.extra-services__card:last-of-type .extra-services__description::before {
   background-color: var(--scrim);
   /* background-color: var(--on-primary); */
}

.extra-services__footer {
   margin: 39px auto 60px;
}

.extra-services__footer,
.extra-services__footer a {
   line-height: 1.6;
   font-weight: 400;
}

/* --/ extra-services-content */
