:root {
  --primary: rgb(88 89 146);
  --surface-tint: rgb(88 89 146);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(225 223 255);
  --on-primary-container: rgb(20 19 74);
  --secondary: rgb(93 92 114);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(226 224 249);
  --on-secondary-container: rgb(26 26 44);
  --tertiary: rgb(121 83 105);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(255 216 236);
  --on-tertiary-container: rgb(47 17 36);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(65 0 2);
  --background: rgb(252 248 255);
  --on-background: rgb(27 27 33);
  --surface: rgb(252 248 255);
  --on-surface: rgb(27 27 33);
  --surface-variant: rgb(228 225 236);
  --on-surface-variant: rgb(71 70 79);
  --outline: rgb(119 118 128);
  --outline-variant: rgb(200 197 208);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(48 48 54);
  --inverse-on-surface: rgb(243 239 247);
  --inverse-primary: rgb(193 193 255);
  --primary-fixed: rgb(225 223 255);
  --on-primary-fixed: rgb(20 19 74);
  --primary-fixed-dim: rgb(193 193 255);
  --on-primary-fixed-variant: rgb(64 65 120);
  --secondary-fixed: rgb(226 224 249);
  --on-secondary-fixed: rgb(26 26 44);
  --secondary-fixed-dim: rgb(198 196 221);
  --on-secondary-fixed-variant: rgb(69 69 89);
  --tertiary-fixed: rgb(255 216 236);
  --on-tertiary-fixed: rgb(47 17 36);
  --tertiary-fixed-dim: rgb(233 185 211);
  --on-tertiary-fixed-variant: rgb(95 60 81);
  --surface-dim: rgb(220 217 224);
  --surface-bright: rgb(252 248 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(246 242 250);
  --surface-container: rgb(240 236 244);
  --surface-container-high: rgb(234 231 239);
  --surface-container-highest: rgb(228 225 233);
}
